<section class="seeker-section">
    <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
        <mat-expansion-panel-header floating>
        <mat-panel-title>
            Opciones de búsqueda
        </mat-panel-title>
        </mat-expansion-panel-header>
        <form>
        <div class="seeker-fields-container">
            <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label" for="descripcion">Descripción</mat-label>
            <input  matInput class="seeker-input" [formControl]="descripcion" (keydown.enter)="searchKeyUp($event)">
            </mat-form-field>
        </div>
        <div class="buttons-container">
            <button class="primary-button icon-button" type="button" (click)="search()" [disabled]="descripcion.value.length < 3">
            <mat-icon>done</mat-icon>
            Buscar</button>
            <button class="primary-button icon-button" type="button" (click)="clearInputs()">
            <mat-icon>close</mat-icon>
            Limpiar</button>
        </div>
        </form>
    </mat-expansion-panel>
    </mat-accordion>
</section>