<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>
      <form>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Producto </mat-label>
            <input matInput class="seeker-input" [value]="this.producto.codigo_producto" disabled>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label">
              Seleccione un tipo de movimiento por producto
            </mat-label>
            <mat-select #tipo required disableOptionCentering>
              <mat-option *ngFor="let element of tipos" [value]="element"
                (keydown.enter)="performSearch($event, motivo.value)">
                {{ element }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Ingrese el motivo de movimiento por producto </mat-label>
            <input matInput class="seeker-input" (keydown.enter)="performSearch($event, motivo.value)" #motivo
              maxlength="30">
          </mat-form-field>
        </div>

        <div class="buttons-container">
          <button class="primary-button icon-button" type="button" (click)="performSearch($event, motivo.value)"
            [disabled]="!tipo?.value">
            <mat-icon> done </mat-icon>
            Buscar
          </button>
          <button class="primary-button icon-button" type="button" (click)="clear(motivo)"
            [disabled]="motivo.value.length === 0 && !tipo?.value">
            <mat-icon> close </mat-icon>
            Limpiar
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>