<div class="dialog-title" [tabIndex]="0">
  <h2 tabindex="0">{{ data.title | uppercase }}</h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup">
    <div class="seeker-fields-container">
      <h3>EMPRESA</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="empresa_factura_descripcion" required readonly />
        <mat-error *ngIf="
            formGroup.get('empresa_factura_descripcion')?.invalid &&
            formGroup.get('empresa_factura_descripcion')?.touched
          ">
          {{ getErrorMessage(formGroup.get("empresa_factura_descripcion")) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3>FORMA DE PAGO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="descripcion_forma_pago" required disableOptionCentering>
          <mat-option [value]="item.descripcion" *ngFor="let item of data.formasPago"
            (onSelectionChange)="guardarID(item.id_forma_pago)">{{ item.descripcion
            }}</mat-option>
        </mat-select>
        <mat-error *ngIf="
            formGroup.get('descripcion_forma_pago')?.invalid &&
            formGroup.get('descripcion_forma_pago')?.touched
          ">
          {{ getErrorMessage(formGroup.get("descripcion_forma_pago")) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="data.par_modo == 'C'; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" mat-dialog-close>
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
      <button [class]="
          formGroup.invalid
            ? 'primary-button icon-button disabled'
            : 'primary-button icon-button'
        " type="submit" (click)="confirm()">
        <mat-icon> done </mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <div class="buttons-container">
        <button class="primary-button icon-button" type="button" mat-dialog-close>
          <mat-icon>close</mat-icon>
          Cancelar
        </button>
        <button [class]="
            formGroup.invalid
              ? 'primary-button icon-button disabled'
              : 'primary-button icon-button'
          " type="submit" (click)="confirm()">
          <mat-icon> done </mat-icon>
          Eliminar
        </button>
      </div>
    </ng-template>
  </form>
</div>