<div class="dialog-title" [tabIndex]="0">
  <h2>{{ data.title | uppercase }}</h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup" (ngSubmit)="confirm(false)">
    <div class="seeker-fields-container">
      <h3>FECHA VIGENCIA</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="fecha_de_vigencia" />
        <mat-error *ngIf="
            formGroup.get('fecha_de_vigencia')?.invalid &&
            formGroup.get('fecha_de_vigencia')?.touched
          ">
          {{ getErrorMessage(formGroup.get("fecha_de_vigencia")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>FUENTE DE INGRESO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="fuente_ingreso" />
        <mat-error *ngIf="
            formGroup.get('fuente_ingreso')?.invalid &&
            formGroup.get('fuente_ingreso')?.touched
          ">
          {{ getErrorMessage(formGroup.get("fuente_ingreso")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>PRODUCTO</h3>
      <div class="content">
        <mat-form-field class="seeker-form-field" appearance="outline">
          <input matInput formControlName="producto_des" />
          <mat-error *ngIf="
              formGroup.get('producto_des')?.invalid &&
              formGroup.get('producto_des')?.touched
            ">
            {{ getErrorMessage(formGroup.get("producto_des")) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="seeker-fields-container">
      <h3>REMUNERACION DESDE ($)</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput type="text" (ngModelChange)="Remuneracion()" formControlName="remuneracion_desde" maxlength="14"
          pattern="^\d{1,11}(\.\d{1,2})?$" max="100000000000" min="0" />
        <mat-error *ngIf="formGroup.get('remuneracion_desde')?.errors?.['formatoInvalido']
        && formGroup.get('remuneracion_desde')?.value != ''">
          {{ formGroup.get('remuneracion_desde')?.errors?.['formatoInvalido'] }}
        </mat-error>
        <mat-error *ngIf="
            formGroup.get('remuneracion_desde')?.invalid &&
            formGroup.get('remuneracion_desde')?.touched
          ">
          {{ getErrorMessage(formGroup.get("remuneracion_desde")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>REMUNERACION HASTA ($)</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput type="text" (ngModelChange)="Remuneracion()" formControlName="remuneracion_hasta" maxlength="14"
          pattern="^\d{1,11}(\.\d{1,2})?$" max="100000000000" min="0" />
        <mat-error *ngIf="formGroup.get('remuneracion_hasta')?.errors?.['formatoInvalido']
          && formGroup.get('remuneracion_hasta')?.value != ''">
          {{ formGroup.get('remuneracion_hasta')?.errors?.['formatoInvalido'] }}
        </mat-error>

        <mat-error *ngIf="
            formGroup.get('remuneracion_hasta')?.invalid &&
            formGroup.get('remuneracion_hasta')?.touched
          ">
          {{ getErrorMessage(formGroup.get("remuneracion_hasta")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="content-coeficiente">
      <div class="content-part">
        <h3>COEFICIENTE 1</h3>
        <mat-form-field class="seeker-form-field1" appearance="outline">
          <input matInput formControlName="coeficiente_uno" pattern="^\d{1}(\.\d{1,2})?$" maxlength="4" max="1"
            min="0.00" />
          <mat-error *ngIf="
              formGroup.get('coeficiente_uno')?.invalid &&
              formGroup.get('coeficiente_uno')?.touched
            ">
            {{ getErrorMessage(formGroup.get("coeficiente_uno")) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="content-part">
        <h3>COEFICIENTE 2</h3>
        <mat-form-field class="seeker-form-field1" appearance="outline">
          <input matInput formControlName="coeficiente_dos" pattern="^\d{1}(\.\d{1,2})?$" maxlength="4" max="1"
            min="0.00" />
          <mat-error *ngIf="
              formGroup.get('coeficiente_dos')?.invalid &&
              formGroup.get('coeficiente_dos')?.touched
            ">
            {{ getErrorMessage(formGroup.get("coeficiente_dos")) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="content-part">
        <h3>COEFICIENTE 3</h3>
        <mat-form-field class="seeker-form-field1" appearance="outline">
          <input matInput formControlName="coeficiente_tres" pattern="^\d{1}(\.\d{1,2})?$" maxlength="4" max="1"
            min="0.00" />
          <mat-error *ngIf="
              formGroup.get('coeficiente_tres')?.invalid &&
              formGroup.get('coeficiente_tres')?.touched
            ">
            {{ getErrorMessage(formGroup.get("coeficiente_tres")) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="content-part">
        <h3>COEFICIENTE 4</h3>
        <mat-form-field class="seeker-form-field1" appearance="outline">
          <input matInput formControlName="coeficiente_cuatro" pattern="^\d{1}(\.\d{1,2})?$" maxlength="4" max="1"
            min="0.00" />
          <mat-error *ngIf="
              formGroup.get('coeficiente_cuatro')?.invalid &&
              formGroup.get('coeficiente_cuatro')?.touched
            ">
            {{ getErrorMessage(formGroup.get("coeficiente_cuatro")) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="content-part">
        <h3>COEFICIENTE 5</h3>
        <mat-form-field class="seeker-form-field1" appearance="outline">
          <input matInput formControlName="coeficiente_cinco" pattern="^\d{1}(\.\d{1,2})?$" maxlength="4" max="1"
            min="0.00" />
          <mat-error *ngIf="
              formGroup.get('coeficiente_cinco')?.invalid &&
              formGroup.get('coeficiente_cinco')?.touched
            ">
            {{ getErrorMessage(formGroup.get("coeficiente_cinco")) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" (click)="closeDialog()">
        <mat-icon> close </mat-icon>
        Cancelar
      </button>
      <button *ngIf="data.par_modo == 'C'" class="primary-button icon-button" type="button" (click)="closeOpenDialog()"
        [disabled]="formGroup.invalid || validarRemuneracion">
        <mat-icon> done </mat-icon>
        Guardar y Nuevo
      </button>
      <button class="primary-button icon-button" type="submit" [disabled]="formGroup.invalid || validarRemuneracion">
        <mat-icon> done </mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <button class="primary-button icon-button" mat-dialog-close>
        <mat-icon> done </mat-icon>
        Aceptar
      </button>
    </ng-template>
  </form>
</div>