// * contenedor de coeficientes
.content-coeficiente {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
// * coeficientes
.content-part {
  display: block;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.seeker-fields-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
// * iconos de busqueda y eliminacion
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 0.35rem;
  color: white;
  background-color: var(--sancor-blue);
  margin: 0px 0px 16px;
  cursor: pointer;
}
