/*
 * Select
*/
::ng-deep .mat-select-panel.mat-select-panel-below {
    transform-origin: 50% 0 !important;
  }
  
  .mat-select, .mat-select-panel {
    width: 100%;
  }

  mat-select {
    width: 100%;
  }

  mat-select-panel {
    width: 100%;
  }

  mat-option {
    width: 100%
  }