<section class="browse-section">
  <div class="section-header">
    <h2> Obras sociales </h2>
    <button class="new-button icon-button" (click)="new()">
      <mat-icon> add </mat-icon>
      Nuevo
    </button>
  </div>

  <div class="section-content">
    <app-obra-social-filter (search)="getData($event)"></app-obra-social-filter>
    <app-obra-social-dashboard [receivedData]="dataSent" (viewEvent)="view($event)"
      (editEvent)="edit($event)"></app-obra-social-dashboard>
  </div>
</section>