<section>
    <table mat-table [dataSource]="dataSource" matSort
    (matSortChange)="announceSortChange($event)">
      <ng-container class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumns.length">
        No se encontraron resultados
        </td>
    </ng-container>
    <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let param">{{param.codigo}}</td>
    </ng-container>
    <ng-container matColumnDef="Localidad">
        <th mat-header-cell *matHeaderCellDef>Localidad</th>
        <td mat-cell *matCellDef="let param">{{param.nombre_localidad}}</td>
    </ng-container>
    <ng-container matColumnDef="Provincia">
        <th mat-header-cell *matHeaderCellDef>Provincia</th>
        <td mat-cell *matCellDef="let param">{{param.nombre_provincia}</td>
    </ng-container>
    <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef>Departamento</th>
        <td mat-cell *matCellDef="let param">{{param.nombre_departamento}}</td>
    </ng-container>
    <ng-container matColumnDef="Posicion">
        <th mat-header-cell *matHeaderCellDef>Posición</th>
        <td mat-cell *matCellDef="let param">{{param.posicion}}</td>
    </ng-container>
    <ng-container matColumnDef="Habitantes">
        <th mat-header-cell *matHeaderCellDef>habitantes</th>
        <td mat-cell *matCellDef="let param">{{param.habitantes}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let doctype">
        <button class="action-button" (click)="viewLocalType(doctype)">
            <mat-icon class="edit-icon" aria-label="false">visibility</mat-icon>
        </button>
        <button class="action-button" (click)="editLocalType(doctype)">
            <mat-icon class="delete-icon" aria-label="false">edit</mat-icon>
        </button>
        </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,30]"
                showFirstLastButtons
                aria-label="controles de página de la tabla de estados">
    </mat-paginator>
</section>