<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="searchForm">
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Fuente de ingreso </mat-label>
            <input matInput class="seeker-input" readonly formControlName="fuente_ingreso" />
          </mat-form-field>
        </div>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label">Producto</mat-label>
            <input matInput class="seeker-input" (ngModelChange)="fechas()" formControlName="producto_des" readonly />
          </mat-form-field>
          <ng-container>
            <div [class]="'icon'" (click)="getProducto()" class="icon">
              <mat-icon class="material-symbols-outlined"> search </mat-icon>
            </div>
            <div (click)="limpiarProducto()" [class]="
                searchForm.get('producto')?.value ? 'icon' : 'icon disabled fix'
              ">
              <mat-icon class="material-symbols-outlined"> close </mat-icon>
            </div>
          </ng-container>
        </div>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Vigencia </mat-label>
            <mat-select formControlName="fecha_de_vigencia" [disabled]="searchForm.get('producto')?.value == 0">
              <mat-option *ngFor="let fecha of listaFechas" [value]="fecha.fecha_de_vigencia">
                {{ formatearFecha(fecha.fecha_de_vigencia) }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="buttons-container">
          <button class="primary-button icon-button" type="button" [disabled]="validarBoton()" (click)="search()">
            <mat-icon> done </mat-icon>
            Buscar
          </button>
          <button class="primary-button icon-button" type="button" [disabled]="limpiar()" (click)="clearInputs()">
            <mat-icon> close </mat-icon>
            Limpiar
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>