// .content-part {
//   display: block;
// }
.content {
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  gap: 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 0.35rem;
  margin: 0px 0px 16px;
  background-color: var(--sancor-blue);
  color: #fff;
  cursor: pointer;
}

/*
  * Estilos del boton "Guardar" para que este deshabilitado.
*/
.fix {
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: pointer;
  cursor: not-allowed;
  filter: grayscale(100%);
}

.disabled:hover {
  filter: grayscale(100%);
}
