/*
 * Evita un espaciado innecesario en la primer columna.
*/
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0px !important;
}

/*
 * Texto alineado a la izquierda.
*/
.mat-column-tipo_motivo.mat-header-cell,
.mat-column-tipo_motivo.mat-cell,
.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell,
.mat-column-datos_adic_SN.mat-header-cell,
.mat-column-datos_adic_SN.mat-cell,
.mat-column-estado.mat-header-cell,
.mat-column-estado.mat-cell {
  text-align: left !important;
  padding-left: 1vw !important;
  word-break: break-all !important;
}

/*
 * Número y fecha alineado a la derecha.
*/
.mat-column-id_motivo.mat-header-cell,
.mat-column-id_motivo.mat-cell,
.mat-column-fecha_inicio_vigencia.mat-header-cell,
.mat-column-fecha_inicio_vigencia.mat-cell {
  text-align: right !important;
  padding-right: 1vw !important;
  word-break: break-all !important;
}

/*
 * Iconos alineados al centro.
*/
.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  width: 11% !important;
  text-align: center !important;
  word-break: break-all !important;
}

/*
 * Tamaño de columnas.
*/
.mat-column-id_motivo.mat-header-cell,
.mat-column-id_motivo.mat-cell {
  width: 9% !important;
}

.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell {
  width: 23% !important;
}

.mat-column-tipo_motivo.mat-header-cell,
.mat-column-tipo_motivo.mat-cell {
  width: 17% !important;
}

.mat-column-datos_adic_SN.mat-cell.mat-header-cell,
.mat-column-datos_adic_SN.mat-cell {
  width: 18% !important;
}

.mat-column-fecha_inicio_vigencia.mat-header-cell,
.mat-column-fecha_inicio_vigencia.mat-cell {
  width: 14% !important;
}

.mat-column-estado.mat-header-cell,
.mat-column-estado.mat-cell {
  width: 8% !important;
}

/*
 * Oculta la paginación hasta que la tabla tenga datos.
*/
.hide-paginator {
  display: none;
}

/*
 * Genera el espacio que corresponde al botón que no esta disponible.
*/
.no-edit {
  display: inline-block;
  vertical-align: bottom;
  width: 40px;
  height: 44.09px;
}
