mat-form-field {
    margin-bottom: 10px;
}

/* Aplicar a todos los campos de entrada */
input {
    text-transform: uppercase;
}

/* Aplicar solo a los campos de entrada específicos */
mat-form-field input {
    text-transform: uppercase;
}