<div class="dialog-title" [tabIndex]="0">
  <h2> {{ data.title | uppercase }} </h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup">
    <div class="seeker-fields-container">
      <h3> CÓDIGO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="codigo_estado_civil" required minlength="1" maxlength="1">
        <mat-error
          *ngIf="formGroup.get('codigo_estado_civil')?.invalid && formGroup.get('codigo_estado_civil')?.touched">
          {{ getErrorMessage(formGroup.get('codigo_estado_civil')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> ESTADO CIVIL </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="description" required minlength="3" maxlength="20">
        <mat-error *ngIf="formGroup.get('description')?.invalid && formGroup.get('description')?.touched">
          {{ getErrorMessage(formGroup.get('description')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" mat-dialog-close>
        <mat-icon> close </mat-icon>
        Cancelar
      </button>
      <button [class]="formGroup.invalid ? 'primary-button icon-button disabled' : 'primary-button icon-button'"
      type="submit" (click)="confirm()">
        <mat-icon> done </mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <div class="buttons-container">
        <button class="primary-button icon-button" mat-dialog-close>
          <mat-icon> done </mat-icon>
          Aceptar
        </button>
      </div>
    </ng-template>
  </form>
</div>