<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1" expanded>
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="seeker-fields-container pb-none">
        <h4> Actividad </h4>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <input matInput placeholder="Ingrese una actividad" (keydown.enter)="performSearch(inputActividad)" #inputActividad maxlength="11">
        </mat-form-field>
      </div>

      <div class="buttons-container">
        <button class="primary-button icon-button" type="button" (click)="performSearch(inputActividad)">
          <mat-icon> done </mat-icon>
          Buscar
        </button>
        <button class="primary-button icon-button" type="button" (click)="clear(inputActividad)" [disabled]="inputActividad.value.length === 0">
        <mat-icon> close </mat-icon>
          Limpiar
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>