<div class="dialog-title" [tabIndex]="0">
  <h2>{{ data.title | uppercase }}</h2>
</div>

<div class="dialog-content">
  <mat-stepper linear #stepper class="stepper">
    <mat-step [stepControl]="formInitial">
      <form [formGroup]="formInitial">
        <ng-template matStepLabel>Primero</ng-template>

        <div class="seeker-fields-container">
          <h3>CÓDIGO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="codigo_fuente_ingreso" [readonly]="!data.edit" maxlength="5" />
            <mat-error *ngIf="
                formInitial.get('codigo_fuente_ingreso')?.invalid &&
                formInitial.get('codigo_fuente_ingreso')?.touched
              ">
              {{ getErrorMessage(formInitial.get("codigo_fuente_ingreso")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>DESCRIPCIÓN</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="descripcion" required maxlength="20" [readonly]="!data.edit" />
            <mat-error *ngIf="
                formInitial.get('descripcion')?.invalid &&
                formInitial.get('descripcion')?.touched
              ">
              {{ getErrorMessage(formInitial.get("descripcion")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>ABREVIATURA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="descripcion_reducida" required maxlength="5" [readonly]="!data.edit" />
            <mat-error *ngIf="
                formInitial.get('descripcion_reducida')?.invalid &&
                formInitial.get('descripcion_reducida')?.touched
              ">
              {{ getErrorMessage(formInitial.get("descripcion_reducida")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>TIPO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="tipo_fuente" required (selectionChange)="fuenteAdministradora()">
              <mat-option [value]="'A'"> ADMINISTRADORA </mat-option>
              <mat-option [value]="'M'"> MIXTO </mat-option>
              <mat-option [value]="'S'"> SUBORDINADA </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formInitial.get('tipo_fuente')?.invalid &&
                formInitial.get('tipo_fuente')?.touched
              ">
              {{ getErrorMessage(formInitial.get("tipo_fuente")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container" *ngIf="mostrarAdministradora">
          <h3>FUENTE DE INGRESO ADMINISTRADORA</h3>
          <div class="content">
            <mat-form-field class="seeker-form-field" appearance="outline">
              <input matInput formControlName="codigo_fuente_admin_descripcion" readonly />
              <mat-error *ngIf="
                  formInitial.get('codigo_fuente_admin_descripcion')?.invalid &&
                  formInitial.get('codigo_fuente_admin_descripcion')?.touched
                ">
                {{
                getErrorMessage(
                formInitial.get("codigo_fuente_admin_descripcion")
                )
                }}
              </mat-error>
            </mat-form-field>
            <div class="icon">
              <mat-icon class="material-symbols-outlined" (click)="getFuente('administrado')">search</mat-icon>
            </div>
            <div class="icon">
              <mat-icon class="material-symbols-outlined" (click)="limpiar('administrado')">close</mat-icon>
            </div>
          </div>
        </div>

        <div class="seeker-fields-container">
          <h3>EMPRESA QUE FACTURA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="empresa_asociada" required>
              <mat-option *ngFor="let empresa of listEmpresas" (onSelectionChange)="cargaReferencia(empresa.id_empresa)"
                [value]="empresa.id_empresa">
                {{ empresa.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formInitial.get('empresa_asociada')?.invalid &&
                formInitial.get('empresa_asociada')?.touched
              ">
              {{ getErrorMessage(formInitial.get("empresa_asociada")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>SOLICITA REF. CONTABLE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="solicita_ref" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formInitial.get('solicita_ref')?.invalid &&
                formInitial.get('solicita_ref')?.touched
              ">
              {{ getErrorMessage(formInitial.get("solicita_ref")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>DÍA DE CORTE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="dia_corte" required>
              <mat-option *ngFor="let dia of dias" [value]="dia.d">
                {{ dia.dia }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formInitial.get('dia_corte')?.invalid &&
                formInitial.get('dia_corte')?.touched
              ">
              {{ getErrorMessage(formInitial.get("dia_corte")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONTROLA DDJJ</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="controla_dec_jur" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formInitial.get('controla_dec_jur')?.invalid &&
                formInitial.get('controla_dec_jur')?.touched
              ">
              {{ getErrorMessage(formInitial.get("controla_dec_jur")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Botones -->
        <div class="buttons-container">
          <button class="primary-button icon-button" (click)="closeDialog()">
            Cancelar
          </button>
          <button class="primary-button icon-button" *ngIf="data.par_modo == 'U'" (click)="coeficiente()"
            [disabled]="formFinal.invalid">
            Coeficiente
          </button>
          <button class="primary-button icon-button" *ngIf="data.par_modo == 'U'" (click)="atributo()"
            [disabled]="formFinal.invalid">
            Atributo
          </button>
          <button class="primary-button icon-button" matStepperNext [disabled]="formInitial.invalid">
            Siguiente
          </button>
        </div>
        <!-- Botones -->
      </form>
    </mat-step>
    <mat-step [stepControl]="formSecond">
      <form [formGroup]="formSecond">
        <ng-template matStepLabel>Segundo</ng-template>

        <div class="seeker-fields-container">
          <h3>CONCEPTO APORTE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="concepto_aporte" required>
              <mat-option *ngFor="let concepto of listConceptos" [value]="concepto.id_concepto">
                {{ concepto.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formSecond.get('concepto_aporte')?.invalid &&
                formSecond.get('concepto_aporte')?.touched
              ">
              {{ getErrorMessage(formSecond.get("concepto_aporte")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONCEPTO ARANCEL</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="concepto_arancel" required>
              <mat-option *ngFor="let concepto of listConceptos" [value]="concepto.id_concepto">
                {{ concepto.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formSecond.get('concepto_arancel')?.invalid &&
                formSecond.get('concepto_arancel')?.touched
              ">
              {{ getErrorMessage(formSecond.get("concepto_arancel")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONDICIÓN DE VENTA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="condicion_venta" required>
              <mat-option *ngFor="let conVenta of listCondicionV" [value]="conVenta.id_condicion">
                {{ conVenta.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formSecond.get('condicion_venta')?.invalid &&
                formSecond.get('condicion_venta')?.touched
              ">
              {{ getErrorMessage(formSecond.get("condicion_venta")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>REFERENCIA CONTABLE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="ref_contable_asociada" required>
              <mat-option *ngFor="let referencia of listReferencia" [value]="referencia.id_referencia_contable">
                {{ referencia.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formSecond.get('ref_contable_asociada')?.invalid &&
                formSecond.get('ref_contable_asociada')?.touched
              ">
              {{ getErrorMessage(formSecond.get("ref_contable_asociada")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>COMPROBANTE A GENERAR</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="comprobante_general" required>
              <mat-option *ngFor="let comprobante of listComprobantes" [value]="comprobante.id_comprobante">
                {{ comprobante.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formSecond.get('comprobante_general')?.invalid &&
                formSecond.get('comprobante_general')?.touched
              ">
              {{ getErrorMessage(formSecond.get("comprobante_general")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>TALONARIO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="talonario" required>
              <mat-option *ngFor="let talonario of listTalonarios" [value]="talonario.id_talonario">
                {{ talonario.numero }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formSecond.get('talonario')?.invalid &&
                formSecond.get('talonario')?.touched
              ">
              {{ getErrorMessage(formSecond.get("talonario")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONDICIÓN DE VENTA VENC.</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="condicion_venta_venc" required>
              <mat-option *ngFor="let conVenta of listCondicionV" [value]="conVenta.id_condicion">
                {{ conVenta.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formSecond.get('condicion_venta_venc')?.invalid &&
                formSecond.get('condicion_venta_venc')?.touched
              ">
              {{ getErrorMessage(formSecond.get("condicion_venta_venc")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONDICIÓN DE VENTA VENC. 2M</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="condicion_venta_dos_venc" required>
              <mat-option *ngFor="let conVenta of listCondicionV" [value]="conVenta.id_condicion">
                {{ conVenta.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formSecond.get('condicion_venta_dos_venc')?.invalid &&
                formSecond.get('condicion_venta_dos_venc')?.touched
              ">
              {{ getErrorMessage(formSecond.get("condicion_venta_dos_venc")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Botones -->
        <div class="buttons-container">
          <button class="primary-button icon-button" (click)="closeDialog()">
            Cancelar
          </button>
          <button class="primary-button icon-button" matStepperPrevious>
            Anterior
          </button>
          <button class="primary-button icon-button" matStepperNext [disabled]="formSecond.invalid">
            Siguiente
          </button>
        </div>
        <!-- Botones -->
      </form>
    </mat-step>
    <mat-step [stepControl]="formFinal">
      <form [formGroup]="formFinal">
        <ng-template matStepLabel> Tercero </ng-template>

        <div class="seeker-fields-container">
          <h3>LIQUIDA PUNITORIO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="liquida_punitorio" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formFinal.get('liquida_punitorio')?.invalid &&
                formFinal.get('liquida_punitorio')?.touched
              ">
              {{ getErrorMessage(formFinal.get("liquida_punitorio")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>LIQUIDA REINTEGRO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="liquida_reintegro" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formFinal.get('liquida_reintegro')?.invalid &&
                formFinal.get('liquida_reintegro')?.touched
              ">
              {{ getErrorMessage(formFinal.get("liquida_reintegro")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>LIQUIDA PLANES MIX</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="liquida_planes_mix" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formFinal.get('liquida_planes_mix')?.invalid &&
                formFinal.get('liquida_planes_mix')?.touched
              ">
              {{ getErrorMessage(formFinal.get("liquida_planes_mix")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>LIQUIDA PLANES MONOTRIBUTO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="liquida_planes_monotributo" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formFinal.get('liquida_planes_monotributo')?.invalid &&
                formFinal.get('liquida_planes_monotributo')?.touched
              ">
              {{ getErrorMessage(formFinal.get("liquida_planes_monotributo")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>AGRUPA POR ENTIDADES</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="agrupa_entidades" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formFinal.get('agrupa_entidades')?.invalid &&
                formFinal.get('agrupa_entidades')?.touched
              ">
              {{ getErrorMessage(formFinal.get("agrupa_entidades")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>APORTE ADICIONAL</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="aporte_adicional" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formFinal.get('aporte_adicional')?.invalid &&
                formFinal.get('aporte_adicional')?.touched
              ">
              {{ getErrorMessage(formFinal.get("aporte_adicional")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="formFinal.get('aporte_adicional')?.value == 'S'">
          <div class="seeker-fields-container">
            <h3>FUENTE APORTE ADICIONAL</h3>
            <div class="content">
              <mat-form-field class="seeker-form-field" appearance="outline">
                <input matInput formControlName="fuente_aporte_adicional_descripcion" readonly />
                <mat-error *ngIf="
                    formInitial.get('fuente_aporte_adicional_descripcion')
                      ?.invalid &&
                    formInitial.get('fuente_aporte_adicional_descripcion')
                      ?.touched
                  ">
                  {{
                  getErrorMessage(
                  formInitial.get("fuente_aporte_adicional_descripcion")
                  )
                  }}
                </mat-error>
              </mat-form-field>
              <div class="icon">
                <mat-icon class="material-symbols-outlined" (click)="getFuente('adicional')">search</mat-icon>
              </div>
              <div class="icon">
                <mat-icon class="material-symbols-outlined" (click)="limpiar('adicional')">close</mat-icon>
              </div>
            </div>
          </div>
          <div class="seeker-fields-container">
            <h3>CONC. APORTE ADICIONAL</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
              <mat-select formControlName="concepto_aporte_adicional">
                <mat-option *ngFor="let concepto of listConceptos" [value]="concepto.id_concepto">
                  {{ concepto.descripcion }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="
                  formFinal.get('concepto_aporte_adicional')?.invalid &&
                  formFinal.get('concepto_aporte_adicional')?.touched
                ">
                {{
                getErrorMessage(formFinal.get("concepto_aporte_adicional"))
                }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="seeker-fields-container">
            <h3>CONC. APORTE ADICIONAL DEC.</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
              <mat-select formControlName="condicion_aporte_adic_dec">
                <mat-option *ngFor="let concepto of listConceptos" [value]="concepto.id_concepto">
                  {{ concepto.descripcion }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="
                  formFinal.get('condicion_aporte_adic_dec')?.invalid &&
                  formFinal.get('condicion_aporte_adic_dec')?.touched
                ">
                {{
                getErrorMessage(formFinal.get("condicion_aporte_adic_dec"))
                }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="data.edit; else other_content" class="buttons-container">
          <button class="primary-button icon-button" type="button" (click)="closeDialog()">
            <mat-icon> close </mat-icon>
            Cancelar
          </button>
          <button class="primary-button icon-button" matStepperPrevious>
            Anterior
          </button>
          <button class="primary-button icon-button" type="submit" [disabled]="formFinal.invalid" (click)="confirm()">
            <mat-icon> done </mat-icon>
            Guardar
          </button>
        </div>

        <ng-template #other_content>
          <div class="buttons-container">
            <button class="primary-button icon-button">
              <mat-icon> done </mat-icon>
              Aceptar
            </button>
            <button class="primary-button icon-button" matStepperPrevious>
              Anterior
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
  </mat-stepper>
</div>