<div class="dialog-title">
  <h2 tabindex="0">{{ data.title | uppercase }}</h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup">
    <mat-tab-group
      [selectedIndex]="activeTabIndex"
      (selectedTabChange)="tabChanged($event)"
      fitInkBarToContent
    >
      <!-- mat-stretch-tabs -->
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>CÓDIGO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input
              matInput
              formControlName="codigo_fuente_ingreso"
              [readonly]="!data.edit"
              maxlength="5"
            />
            <mat-error
              *ngIf="
                formGroup.get('codigo_fuente_ingreso')?.invalid &&
                formGroup.get('codigo_fuente_ingreso')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("codigo_fuente_ingreso")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>DESCRIPCIÓN</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input
              matInput
              formControlName="descripcion"
              required
              maxlength="20"
              [readonly]="!data.edit"
            />
            <mat-error
              *ngIf="
                formGroup.get('descripcion')?.invalid &&
                formGroup.get('descripcion')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("descripcion")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>ABREVIATURA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input
              matInput
              formControlName="descripcion_reducida"
              required
              maxlength="5"
              [readonly]="!data.edit"
            />
            <mat-error
              *ngIf="
                formGroup.get('descripcion_reducida')?.invalid &&
                formGroup.get('descripcion_reducida')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("descripcion_reducida")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>TIPO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select
              formControlName="tipo_fuente"
              required
              (selectionChange)="fuenteAdministradora()"
            >
              <mat-option [value]="'A'"> ADMINISTRADORA </mat-option>
              <mat-option [value]="'M'"> MIXTO </mat-option>
              <mat-option [value]="'S'"> SUBORDINADA </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('tipo_fuente')?.invalid &&
                formGroup.get('tipo_fuente')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("tipo_fuente")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container" *ngIf="mostrarAdministradora">
          <h3>FUENTE DE INGRESO ADMINISTRADORA</h3>
          <div class="content">
            <mat-form-field class="seeker-form-field" appearance="outline">
              <input
                matInput
                formControlName="codigo_fuente_admin_descripcion"
                readonly
              />
              <mat-error
                *ngIf="
                  formGroup.get('codigo_fuente_admin_descripcion')?.invalid &&
                  formGroup.get('codigo_fuente_admin_descripcion')?.touched
                "
              >
                {{
                  getErrorMessage(
                    formGroup.get("codigo_fuente_admin_descripcion")
                  )
                }}
              </mat-error>
            </mat-form-field>
            <ng-container *ngIf="data.edit">
              <div (click)="getFuente('administrado')" class="icon">
                <mat-icon class="material-symbols-outlined"> search </mat-icon>
              </div>
              <div
                (click)="limpiar('administrado')"
                [class]="
                  formGroup.get('codigo_fuente_admin_descripcion')?.value
                    ? 'icon'
                    : 'icon disabled fix'
                "
              >
                <mat-icon class="material-symbols-outlined"> close </mat-icon>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="seeker-fields-container">
          <h3>EMPRESA QUE FACTURA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="empresa_asociada" required>
              <mat-option
                *ngFor="let empresa of listEmpresas"
                (onSelectionChange)="cargaReferencia(empresa.id_empresa)"
                [value]="empresa.id_empresa"
              >
                {{ empresa.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('empresa_asociada')?.invalid &&
                formGroup.get('empresa_asociada')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("empresa_asociada")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>SOLICITA REF. CONTABLE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="solicita_ref" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('solicita_ref')?.invalid &&
                formGroup.get('solicita_ref')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("solicita_ref")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>DÍA DE CORTE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="dia_corte" required>
              <mat-option *ngFor="let dia of dias" [value]="dia.d">
                {{ dia.dia }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('dia_corte')?.invalid &&
                formGroup.get('dia_corte')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("dia_corte")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONTROLA DDJJ</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="controla_dec_jur" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('controla_dec_jur')?.invalid &&
                formGroup.get('controla_dec_jur')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("controla_dec_jur")) }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="seeker-fields-container">
          <h3>CONCEPTO APORTE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="concepto_aporte" required>
              <mat-option
                *ngFor="let concepto of listConceptos"
                [value]="concepto.id_concepto"
              >
                {{ concepto.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('concepto_aporte')?.invalid &&
                formGroup.get('concepto_aporte')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("concepto_aporte")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONCEPTO ARANCEL</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="concepto_arancel" required>
              <mat-option
                *ngFor="let concepto of listConceptos"
                [value]="concepto.id_concepto"
              >
                {{ concepto.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('concepto_arancel')?.invalid &&
                formGroup.get('concepto_arancel')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("concepto_arancel")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONDICIÓN DE VENTA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="condicion_venta" required>
              <mat-option
                *ngFor="let conVenta of listCondicionV"
                [value]="conVenta.id_condicion"
              >
                {{ conVenta.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('condicion_venta')?.invalid &&
                formGroup.get('condicion_venta')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("condicion_venta")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>REFERENCIA CONTABLE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="ref_contable_asociada" required>
              <mat-option
                *ngFor="let referencia of listReferencia"
                [value]="referencia.id_referencia_contable"
              >
                {{ referencia.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('ref_contable_asociada')?.invalid &&
                formGroup.get('ref_contable_asociada')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("ref_contable_asociada")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>COMPROBANTE A GENERAR</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="comprobante_general" required>
              <mat-option
                *ngFor="let comprobante of listComprobantes"
                [value]="comprobante.id_comprobante"
              >
                {{ comprobante.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('comprobante_general')?.invalid &&
                formGroup.get('comprobante_general')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("comprobante_general")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>TALONARIO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="talonario" required>
              <mat-option
                *ngFor="let talonario of listTalonarios"
                [value]="talonario.id_talonario"
              >
                {{ talonario.numero }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('talonario')?.invalid &&
                formGroup.get('talonario')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("talonario")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONDICIÓN DE VENTA VENC.</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="condicion_venta_venc" required>
              <mat-option
                *ngFor="let conVenta of listCondicionV"
                [value]="conVenta.id_condicion"
              >
                {{ conVenta.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('condicion_venta_venc')?.invalid &&
                formGroup.get('condicion_venta_venc')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("condicion_venta_venc")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CONDICIÓN DE VENTA VENC. 2M</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="condicion_venta_dos_venc" required>
              <mat-option
                *ngFor="let conVenta of listCondicionV"
                [value]="conVenta.id_condicion"
              >
                {{ conVenta.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('condicion_venta_dos_venc')?.invalid &&
                formGroup.get('condicion_venta_dos_venc')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("condicion_venta_dos_venc")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>LIQUIDA PUNITORIO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="liquida_punitorio" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('liquida_punitorio')?.invalid &&
                formGroup.get('liquida_punitorio')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("liquida_punitorio")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>LIQUIDA REINTEGRO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="liquida_reintegro" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('liquida_reintegro')?.invalid &&
                formGroup.get('liquida_reintegro')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("liquida_reintegro")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>LIQUIDA PLANES MIX</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="liquida_planes_mix" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('liquida_planes_mix')?.invalid &&
                formGroup.get('liquida_planes_mix')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("liquida_planes_mix")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>LIQUIDA PLANES MONOTRIBUTO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="liquida_planes_monotributo" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('liquida_planes_monotributo')?.invalid &&
                formGroup.get('liquida_planes_monotributo')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("liquida_planes_monotributo")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>AGRUPA POR ENTIDADES</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="agrupa_entidades" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('agrupa_entidades')?.invalid &&
                formGroup.get('agrupa_entidades')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("agrupa_entidades")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>APORTE ADICIONAL</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="aporte_adicional" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('aporte_adicional')?.invalid &&
                formGroup.get('aporte_adicional')?.touched
              "
            >
              {{ getErrorMessage(formGroup.get("aporte_adicional")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="formGroup.get('aporte_adicional')?.value == 'S'">
          <div class="seeker-fields-container">
            <h3>FUENTE APORTE ADICIONAL</h3>
            <div class="content">
              <mat-form-field class="seeker-form-field" appearance="outline">
                <input
                  matInput
                  formControlName="fuente_aporte_adicional_descripcion"
                  readonly
                />
                <mat-error
                  *ngIf="
                    formGroup.get('fuente_aporte_adicional_descripcion')
                      ?.invalid &&
                    formGroup.get('fuente_aporte_adicional_descripcion')
                      ?.touched
                  "
                >
                  {{
                    getErrorMessage(
                      formGroup.get("fuente_aporte_adicional_descripcion")
                    )
                  }}
                </mat-error>
              </mat-form-field>
              <ng-container *ngIf="data.edit">
                <div (click)="getFuente('adicional')" class="icon">
                  <mat-icon class="material-symbols-outlined">
                    search
                  </mat-icon>
                </div>
                <div
                  (click)="limpiar('adicional')"
                  [class]="
                    formGroup.get('fuente_aporte_adicional_descripcion')?.value
                      ? 'icon'
                      : 'icon disabled fix'
                  "
                >
                  <mat-icon class="material-symbols-outlined"> close </mat-icon>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="seeker-fields-container">
            <h3>CONC. APORTE ADICIONAL</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
              <mat-select formControlName="concepto_aporte_adicional">
                <mat-option
                  *ngFor="let concepto of listConceptos"
                  [value]="concepto.id_concepto"
                >
                  {{ concepto.descripcion }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  formGroup.get('concepto_aporte_adicional')?.invalid &&
                  formGroup.get('concepto_aporte_adicional')?.touched
                "
              >
                {{
                  getErrorMessage(formGroup.get("concepto_aporte_adicional"))
                }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="seeker-fields-container">
            <h3>CONC. APORTE ADICIONAL DEC.</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
              <mat-select formControlName="condicion_aporte_adic_dec">
                <mat-option
                  *ngFor="let concepto of listConceptos"
                  [value]="concepto.id_concepto"
                >
                  {{ concepto.descripcion }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  formGroup.get('condicion_aporte_adic_dec')?.invalid &&
                  formGroup.get('condicion_aporte_adic_dec')?.touched
                "
              >
                {{
                  getErrorMessage(formGroup.get("condicion_aporte_adic_dec"))
                }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" mat-dialog-close>
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
      <button
        class="primary-button icon-button"
        type="button"
        [disabled]="activeTabIndex === 0"
        (click)="prevStep()"
      >
        <mat-icon>close</mat-icon>
        Anterior
      </button>
      <button
        class="primary-button icon-button"
        type="button"
        [disabled]="activeTabIndex === 4"
        (click)="nextStep()"
      >
        <mat-icon>close</mat-icon>
        Siguiente
      </button>
      <button
        [class]="
          formGroup.invalid
            ? 'primary-button icon-button disabled'
            : 'primary-button icon-button'
        "
        type="submit"
        (click)="confirm()"
      >
        <mat-icon> done </mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <div class="buttons-container">
        <button class="primary-button icon-button" mat-dialog-close>
          <mat-icon> done </mat-icon>
          Aceptar
        </button>
        <button
          class="primary-button icon-button"
          type="button"
          [disabled]="activeTabIndex === 0"
          (click)="prevStep()"
        >
          <mat-icon>close</mat-icon>
          Anterior
        </button>
        <button
          class="primary-button icon-button"
          type="button"
          [disabled]="activeTabIndex === 2"
          (click)="nextStep()"
        >
          <mat-icon>close</mat-icon>
          Siguiente
        </button>
      </div>
    </ng-template>
    <div *ngIf="data.par_modo == 'U'" class="buttons-container">
      <button
        class="primary-button icon-button"
        type="submit"
        (click)="redirectTo('/parametros/extencion-fuente-ingreso')"
        mat-dialog-close
      >
        Coeficientes
      </button>
      <button
        class="primary-button icon-button"
        type="submit"
        (click)="redirectTo('/parametros/atributos-relacion-capita-plan')"
        mat-dialog-close
      >
        Atributos
      </button>
    </div>
  </form>
</div>
