<section class="browse-section">
  <div class="section-header">
    <h2> Tambos </h2>
    <button class="new-button icon-button" [matTooltip]="!entity ? 'Entidad requerida' : ''" (click)="new()"
      [class]="entity ? 'new-button icon-button' : 'new-button icon-button disabled fix'" [matTooltipPosition]="'left'"
      [matTooltipShowDelay]="300" [matTooltipHideDelay]="1000" matTooltipClass="mt-tooltip">
      <mat-icon class="icon"> {{ entity ? 'add' : 'lock' }} </mat-icon>
      Nuevo
    </button>
  </div>

  <div class=" section-content">
    <app-tambo-filter (handleSearch)="getData($event)" (handleEntity)="getEntity($event)"
      (handleStatus)="getStatus($event)"></app-tambo-filter>
    <app-tambo-dashboard [receivedData]="dataSent" (viewEvent)="view($event)" (editEvent)="edit($event)"
      [searchData]="searchData"></app-tambo-dashboard>
  </div>
</section>