<section>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data-cell" [attr.colspan]="columnsToDisplay.length">
        No se encontraron datos de comercio.
      </td>
    </ng-container>

    <ng-container matColumnDef="forma_pago_descripcion">
      <th mat-header-cell *matHeaderCellDef> Forma de pago </th>
      <td mat-cell *matCellDef="let param"> {{ param.forma_pago_descripcion }} </td>
    </ng-container>

    <ng-container matColumnDef="codigo_servicio">
      <th mat-header-cell *matHeaderCellDef> Codigo de envio </th>
      <td mat-cell *matCellDef="let param"> {{ param.codigo_servicio }} </td>
    </ng-container>

    <ng-container matColumnDef="comercio">
      <th mat-header-cell *matHeaderCellDef> Comercio </th>
      <td mat-cell *matCellDef="let param"> {{ param.nro_comercio }} </td>
    </ng-container>

    <ng-container matColumnDef="banco_descripcion">
      <th mat-header-cell *matHeaderCellDef> Banco </th>
      <td mat-cell *matCellDef="let param"> {{ param.id_banco }} - {{ param.banco_descripcion }} </td>
    </ng-container>

    <ng-container matColumnDef="nro_suc">
      <th mat-header-cell *matHeaderCellDef> Sucursal </th>
      <td mat-cell *matCellDef="let param">
        {{ param.nro_suc }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions"> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button class="action-button" (click)="delete(element)">
          <mat-icon class="edit-icon" aria-label="false"> delete </mat-icon>
        </button>

        <button class="action-button" (click)="edit(element)">
          <mat-icon class="delete-icon" aria-label="false"> edit </mat-icon>
        </button>

        <button class="action-button" aria-label="false"
          (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element"> keyboard_arrow_down </mat-icon>
          <mat-icon *ngIf="expandedElement === element"> keyboard_arrow_up </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="detailExpand" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div>
            <span class="title">Caja</span>
            <span class="item num"> {{ element.nro_caja }} </span>
          </div>
          <div>
            <span class="title">Código Servicio</span>
            <span class="item text"> {{ element.codigo_servicio }} </span>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" [class.detailExpand-element]="true"
      [class.detailExpanded-row]="expandedElement === element" [class.selected]="expandedElement === element"
      [ngClass]="{ 'hover-row': expandedElement !== element }">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detailExpand-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons
    aria-label="Controles de paginación." [ngClass]="{'d-none': (!dataSource || dataSource.data.length <= 10) }" />
</section>