.mat-header-cell,
.mat-cell {
  /* Texto alineado a la izquierda */
  &.mat-column-forma_pago_descripcion,
  &.mat-column-banco_descripcion {
    text-align: left !important;
    padding-left: 1vw;
    word-break: break-all;
  }

  /* Número y fecha alineado a la derecha */
  &.mat-column-codigo_servicio,
  &.mat-column-nro_suc,
  &.mat-column-comercio {
    text-align: right !important;
    padding-right: 1vw;
    word-break: break-all;
  }

  /* Ancho mínimo por columna individual */
  &.mat-column-forma_pago_descripcion {
    min-width: 130px;
  }

  &.mat-column-codigo_servicio {
    min-width: 150px;
  }

  &.mat-column-comercio {
    min-width: 80px;
  }

  &.mat-column-banco_descripcion {
    min-width: 180px;
  }

  &.mat-column-nro_suc {
    min-width: 80px;
  }

  &.mat-column-actions {
    min-width: 130px;
  }
}

/* Estilo del panel expandible */
tr.detailExpand-row {
  background-color: #dddddd;

  .detailExpand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    min-height: 40px;
    height: fit-content;
    overflow: hidden;
    width: 70%;

    > * {
      padding: 0rem 3vw;
      min-width: fit-content;
    }

    .title {
      font-weight: 500;
      font-size: 0.95rem !important;
      width: fit-content;
    }

    .item {
      text-align: left !important;
      padding-left: 1vw !important;
    }
  }
}

.detailExpand-element {
  position: relative;
  z-index: 1;
  transition: 300ms all !important;
}

.selected {
  position: relative;
  z-index: 1;
}

.hover-row:hover {
  background-color: #efefef !important;
  position: relative;
  z-index: 2;
}

/*
 * Estilos propios de Material.
 */
tr.detailExpand-row {
  height: 0;
}

tr.detailExpand-element:not(.detailExpanded-row):hover {
  background: whitesmoke;
}

tr.detailExpand-element:not(.detailExpanded-row):active {
  background: #efefef;
}

.detailExpand-element td {
  border-bottom-width: 0;
}

/*
 * Oculta la paginación hasta que existan datos.
 */
.d-none {
  display: none;
}
