<section>
    <table mat-table [dataSource]="dataSource" matSort
    (matSortChange)="announceSortChange($event)">
      <ng-container class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumns.length">
        No se encontraron resultados
        </td>
    </ng-container>
    <ng-container matColumnDef="Nacionalidad">
        <th mat-header-cell *matHeaderCellDef>Nacionalidad</th>
        <td mat-cell *matCellDef="let param">{{param.descripcion}}</td>
    </ng-container>
    <ng-container matColumnDef="NacionalidadAnterior">
        <th mat-header-cell *matHeaderCellDef>Nacionalidad Anterior</th>
        <td mat-cell *matCellDef="let param">{{param.descripcion_reducida}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let doctype">
        <button class="action-button" (click)="viewDocType(doctype)">
            <mat-icon class="edit-icon" aria-label="false">visibility</mat-icon>
        </button>
        <button class="action-button" (click)="editDocType(doctype)">
            <mat-icon class="delete-icon" aria-label="false">edit</mat-icon>
        </button>
        </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,30]"
                showFirstLastButtons
                aria-label="controles de página de la tabla de estados">
    </mat-paginator>
</section>