<div class="dialog-title">
  <h2>{{ data.title | uppercase }}</h2>
</div>
<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup" (ngSubmit)="confirm()">
    <div class="seeker-fields-container">
      <h3>PRODUCTO PRINCIPAL</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input
          matInput
          class="seeker-input"
          formControlName="producto_principal"
        />
        <!-- <mat-error
          *ngIf="
            formGroup.get('producto_principal')?.invalid &&
            formGroup.get('producto_principal')?.touched
          "
        >
          {{ getErrorMessage(formGroup.get("producto_principal")) }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>SUBPRODUCTO PRINCIPAL</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input
          matInput
          class="seeker-input"
          formControlName="subproducto_principal"
        />
        <!-- <mat-error
          *ngIf="
            formGroup.get('subproducto_principal')?.invalid &&
            formGroup.get('subproducto_principal')?.touched
          "
        >
          {{ getErrorMessage(formGroup.get("subproducto_principal")) }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>PRODUCTO SECUNDARIO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input
          matInput
          class="seeker-input"
          formControlName="producto_secundario"
        />
        <mat-error
          *ngIf="
            formGroup.get('producto_secundario')?.invalid &&
            formGroup.get('producto_secundario')?.touched
          "
        >
          {{ getErrorMessage(formGroup.get("producto_secundario")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>SUBPRODUCTO SECUNDARIO</h3>
      <div class="content">
        <mat-form-field class="seeker-form-field" appearance="outline">
          <input matInput formControlName="subproducto_secundario" />
          <mat-error
            *ngIf="
              formGroup.get('subproducto_secundario')?.invalid &&
              formGroup.get('subproducto_secundario')?.touched
            "
          >
            {{ getErrorMessage(formGroup.get("subproducto_secundario")) }}
          </mat-error>
        </mat-form-field>
        <div class="icon">
          <mat-icon class="material-symbols-outlined" (click)="getProducto()"
            >search</mat-icon
          >
        </div>
        <div class="icon">
          <mat-icon class="material-symbols-outlined" (click)="limpiar()"
            >close</mat-icon
          >
        </div>
      </div>
    </div>
    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button
        class="primary-button icon-button"
        type="button"
        (click)="closeDialog()"
      >
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
      <button
        class="primary-button icon-button"
        type="submit"
        [disabled]="formGroup.invalid"
      >
        <mat-icon>done</mat-icon>
        Guardar
      </button>
    </div>
    <ng-template #other_content>
      <button class="primary-button icon-button right" mat-dialog-close>
        <mat-icon>done</mat-icon>
        Aceptar
      </button>
    </ng-template>
  </form>
</div>
