<div class="dialog-title">
    <h2>{{data.title | uppercase}}</h2>
</div>
<div class="dialog-content" style="overflow: hidden; max-height: 80vh;">
    <div style="overflow-y: scroll">
        <form class="form-datos" [formGroup]="formGroup">
            <div class="seeker-fields-container">
                <div class="seeker-fields-container">
                    <h3>Provincia</h3>
                    <mat-form-field class="seeker-form-field" appearance="outline">
                        <input type="text" required matInput [formControl]="myControlProv" [matAutocomplete]="prov">
                        <mat-autocomplete #prov="matAutocomplete" [displayWith]="displayFnProv">
                        <mat-option *ngFor="let Prov of provinciaFiltrados | async" 
                        [value]="Prov"
                        (onSelectionChange)="buscar(Prov.codigo)"
                        >
                            {{Prov.nombre_provincia}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="seeker-fields-container">
                    <h3>Departamento</h3>
                    <mat-form-field class="seeker-form-field" appearance="outline">
                        <input type="text" required matInput [formControl]="myControldepto" [matAutocomplete]="dep" (keydown.enter)="search()">
                        <mat-autocomplete #dep="matAutocomplete" [displayWith]="displayFnDep">
                        <mat-option *ngFor="let depto of deptoFiltrados | async" 
                        [value]="depto"
                        (onSelectionChange)="dato(depto.codigo_departamento)"
                        >
                            {{depto.descripcion}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="seeker-fields-container">
                <mat-form-field class="seeker-form-field">
                    <mat-label class="seeker-label"
                        >Código Postal</mat-label>
                    <input  matInput
                        class="seeker-input"
                        formControlName="codigo_postal">
                </mat-form-field>
                <mat-form-field class="seeker-form-field">
                    <mat-label class="seeker-label"
                        >Localidad</mat-label>
                    <input  matInput
                        class="seeker-input"
                        formControlName="descripcion" (keydown.enter)="search()">
                </mat-form-field>
            </div>
            <div class="buttons-container">
                <button class="primary-button icon-button" type="button" (click)="search()">
                <mat-icon>done</mat-icon>
                Buscar</button>
                <button class="primary-button icon-button" type="button" (click)="clearInputs()">
                <mat-icon>close</mat-icon>
                Limpiar</button>
            </div>
            <section>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container class="mat-row" *matNoDataRow>
                        <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumns.length">
                            No se encontraron resultados
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="codigo_postal">
                        <th mat-header-cell *matHeaderCellDef>Codigo</th>
                        <td mat-cell *matCellDef="let param" class="text-align-right">{{param.codigo_postal}}</td>
                    </ng-container>
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef>Posicion</th>
                        <td mat-cell *matCellDef="let param"class="text-align-left">{{param.descripcion}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let param">
                            <input type="checkbox" (click)="onCheckboxChange(param)" [disabled]="block">
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,20,30]"
                showFirstLastButtons
                aria-label="controles de página de la tabla de estados">
                </mat-paginator>
            </section>
            <div class="buttons-container">
                <button class="primary-button icon-button" type="button" (click)="closeDialog()">
                    <mat-icon>close</mat-icon>
                    Cancelar
                </button>
                <!-- <button class="primary-button icon-button" (click)="limpiarLocal()" 
                [disabled]="!block">
                    <mat-icon>delet</mat-icon>
                    Borrar Seleccion
                </button> -->
                <button class="primary-button icon-button" (click)="confirm()" mat-dialog-close>
                    <mat-icon>done</mat-icon>
                    Aceptar
                </button>
            </div>
        </form>
    </div>
</div>