<div class="dialog-title" [tabIndex]="0">
  <h2 tabindex="0">{{ data.title | uppercase }}</h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup">
    <mat-tab-group [selectedIndex]="activeTabIndex" (selectedTabChange)="tabChanged($event)" mat-stretch-tabs>
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>EMPRESA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="descripcion" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('descripcion')?.invalid &&
                formGroup.get('descripcion')?.touched
              ">
              {{ getErrorMessage(formGroup.get("descripcion")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CALLE</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="calle" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('calle')?.invalid &&
                formGroup.get('calle')?.touched
              ">
              {{ getErrorMessage(formGroup.get("calle")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>NUMERO PUERTA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="nro_puerta" maxlength="5" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('nro_puerta')?.invalid &&
                formGroup.get('nro_puerta')?.touched
              ">
              {{ getErrorMessage(formGroup.get("nro_puerta")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>PISO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="piso" maxlength="2" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('piso')?.invalid && formGroup.get('piso')?.touched
              ">
              {{ getErrorMessage(formGroup.get("piso")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>DEPARTAMENTO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="departamento" maxlength="5" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('departamento')?.invalid &&
                formGroup.get('departamento')?.touched
              ">
              {{ getErrorMessage(formGroup.get("departamento")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>LOCALIDAD</h3>
          <div class="content">
            <mat-form-field class="seeker-form-field" appearance="outline">
              <input matInput formControlName="localidad" required minlength="3" maxlength="30" readonly />
              <mat-error *ngIf="
                  formGroup.get('localidad')?.invalid &&
                  formGroup.get('localidad')?.touched
                ">
                {{ getErrorMessage(formGroup.get("localidad")) }}
              </mat-error>
            </mat-form-field>
            <ng-container *ngIf="data.edit">
              <div (click)="searchLocalidad()" class="icon">
                <mat-icon class="material-symbols-outlined"> search </mat-icon>
              </div>
              <div (click)="clear()" [class]="
                  formGroup.get('localidad')?.value
                    ? 'icon'
                    : 'icon disabled fix'
                ">
                <mat-icon class="material-symbols-outlined"> close </mat-icon>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="seeker-fields-container">
          <h3>TELEFONO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="nro_tel" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('nro_tel')?.invalid &&
                formGroup.get('nro_tel')?.touched
              ">
              {{ getErrorMessage(formGroup.get("nro_tel")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>NUMERO DE FAX</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="nro_fax" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('nro_fax')?.invalid &&
                formGroup.get('nro_fax')?.touched
              ">
              {{ getErrorMessage(formGroup.get("nro_fax")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>CORREO ELECTRONICO</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="email" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('email')?.invalid &&
                formGroup.get('email')?.touched
              ">
              {{ getErrorMessage(formGroup.get("email")) }}
            </mat-error>
            <mat-error *ngIf="formGroup.get('email')?.errors?.['error'] && formGroup.get('email')?.value != ''">
              {{ formGroup.get('email')?.errors?.['error'] }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>CODIGO IVA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="codigo_iva" maxlength="2" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('codigo_iva')?.invalid &&
                formGroup.get('codigo_iva')?.touched
              ">
              {{ getErrorMessage(formGroup.get("codigo_iva")) }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="seeker-fields-container">
          <h3>CUIT</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="cuit" maxlength="11" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('cuit')?.invalid && formGroup.get('cuit')?.touched
              ">
              {{ getErrorMessage(formGroup.get("cuit")) }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="seeker-fields-container">
          <h3>FECHA VENCIMIENTO CUIT</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput class="date-input" formControlName="fecha_vto_cuit" required minlength="1" maxlength="8"
              type="date"/>
            <mat-hint class="warning-hint" *ngIf="vigenciaFecha()">
              La fecha ha expirado.
            </mat-hint>
            <mat-error *ngIf="
                formGroup.get('fecha_vto_cuit')?.invalid &&
                formGroup.get('fecha_vto_cuit')?.touched
              ">
              {{ getErrorMessage(formGroup.get("fecha_vto_cuit")) }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="seeker-fields-container">
          <h3>CUENTA BANCO AMS</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput formControlName="cta_banco_ams" required [readonly]="!data.edit" />
            <mat-error *ngIf="
                formGroup.get('cta_banco_ams')?.invalid &&
                formGroup.get('cta_banco_ams')?.touched
              ">
              {{ getErrorMessage(formGroup.get("cta_banco_ams")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="seeker-fields-container">
          <h3>COMPROBANTE A GENERAR</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="comprobante_generar" required>
              <mat-option [value]="'R'"> Resumen </mat-option>
              <mat-option [value]="'F'"> Factura </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formGroup.get('comprobante_generar')?.invalid &&
                formGroup.get('comprobante_generar')?.touched
              ">
              {{ getErrorMessage(formGroup.get("comprobante_generar")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>TRABAJA CON REF. CONTAB.</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="trabaja_ref_cont" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formGroup.get('trabaja_ref_cont')?.invalid &&
                formGroup.get('trabaja_ref_cont')?.touched
              ">
              {{ getErrorMessage(formGroup.get("trabaja_ref_cont")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>FACTURA CRED. ELECTRONICA</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="fact_cr_elec" required>
              <mat-option [value]="'S'"> SI </mat-option>
              <mat-option [value]="'N'"> NO </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formGroup.get('fact_cr_elec')?.invalid &&
                formGroup.get('fact_cr_elec')?.touched
              ">
              {{ getErrorMessage(formGroup.get("fact_cr_elec")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3>MODO LIQUIDACION</h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <mat-select formControlName="modo" required>
              <mat-option [value]="'0'"></mat-option>
              <mat-option [value]="'A'"> ANTICIPADA </mat-option>
              <mat-option [value]="'V'"> VENCIDO </mat-option>
              <mat-option [value]="'W'"> VENCIDO 2 M </mat-option>
            </mat-select>
            <mat-error *ngIf="
                formGroup.get('modo')?.invalid && formGroup.get('modo')?.touched
              ">
              {{ getErrorMessage(formGroup.get("modo")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div *ngIf="data.par_modo == 'U'" class="buttons-container">
      <button (click)="redirectTo('parametros/datos-comercio')" class="primary-button icon-button" type="submit"
        mat-dialog-close>
        <mat-icon> open_in_new_down </mat-icon>
        Datos Comercio
      </button>
      <button (click)="redirectTo('parametros/pago-link')" class="primary-button icon-button" type="submit"
        mat-dialog-close>
        <mat-icon> open_in_new_down </mat-icon>
        Pagos Link
      </button>
    </div>
    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" mat-dialog-close>
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
      <button class="primary-button icon-button" type="button" [disabled]="activeTabIndex === 0" (click)="prevStep()">
        <mat-icon>arrow_back_ios</mat-icon>
        Anterior
      </button>
      <button class="primary-button icon-button" type="button" [disabled]="activeTabIndex === 3" (click)="nextStep()">
        <mat-icon>arrow_forward_ios</mat-icon>
        Siguiente
      </button>
      <button [class]="
          formGroup.invalid
            ? 'primary-button icon-button disabled'
            : 'primary-button icon-button'
        " type="submit" (click)="confirm()">
        <mat-icon> done </mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <div class="buttons-container">
        <button class="primary-button icon-button" mat-dialog-close>
          <mat-icon> done </mat-icon>
          Aceptar
        </button>
        <button class="primary-button icon-button" type="button" [disabled]="activeTabIndex === 0" (click)="prevStep()">
          <mat-icon>arrow_back_ios</mat-icon>
          Anterior
        </button>
        <button class="primary-button icon-button" type="button" [disabled]="activeTabIndex === 3" (click)="nextStep()">
          <mat-icon>arrow_forward_ios</mat-icon>
          Siguiente
        </button>
      </div>
    </ng-template>
  </form>
</div>