<div class="dialog-title" [tabIndex]="0">
  <h2> {{ data.title | uppercase }} </h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup">
    <div class="seeker-fields-container">
      <h3> CÓDIGO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="codigo" required minlength="1" maxlength="5">
        <mat-error *ngIf="formGroup.get('codigo')?.invalid && formGroup.get('codigo')?.touched">
          {{ getErrorMessage(formGroup.get('codigo')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> OBRA SOCIAL </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="descripcion" required minlength="3" maxlength="30">
        <mat-error *ngIf="formGroup.get('descripcion')?.invalid && formGroup.get('descripcion')?.touched">
          {{ getErrorMessage(formGroup.get('descripcion')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> PROPONE FECHA PATOLOGÍA </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="propone_fecha_patologia" (selectionChange)="changeProponeFechaPatologia()" required
          minlength="1" maxlength="3" disableOptionCentering>
          <mat-option [value]="'S'"> SI </mat-option>
          <mat-option [value]="'N'"> NO </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formGroup.get('propone_fecha_patologia')?.invalid && formGroup.get('propone_fecha_patologia')?.touched">
          {{ getErrorMessage(formGroup.get('propone_fecha_patologia')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container" *ngIf="this.formGroup.get('propone_fecha_patologia')?.value == 'S'">
      <h3> TIPO FECHA PATOLOGÍA </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="tipo_fecha_patologia"
          [required]="formGroup.get('propone_fecha_patologia')?.value == 'S'" minlength="1" maxlength="2"
          disableOptionCentering>
          <mat-option [value]="'FI'" [disabled]="formGroup.get('propone_fecha_patologia')?.value != 'S'">
            FECHA DE INGRESO AL SERVICIO
          </mat-option>
          <mat-option [value]="'FS'" [disabled]="formGroup.get('propone_fecha_patologia')?.value != 'S'">
            FECHA DE SUBSCRIPCIÓN
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formGroup.get('tipo_fecha_patologia')?.invalid && formGroup.get('tipo_fecha_patologia')?.touched">
          {{ getErrorMessage(formGroup.get('tipo_fecha_patologia')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> TIPO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="tipo_obra_social_prepaga" required minlength="1" maxlength="1"
          disableOptionCentering>
          <mat-option [value]="'O'"> O.SOCIAL </mat-option>
          <mat-option [value]="'P'"> PREPAGA </mat-option>
          <mat-option [value]="'A'"> AMBAS </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formGroup.get('tipo_obra_social_prepaga')?.invalid && formGroup.get('tipo_obra_social_prepaga')?.touched">
          {{ getErrorMessage(formGroup.get('tipo_obra_social_prepaga')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> NÚMERO REGISTRO NACIONAL </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="nro_registro" required minlength="1" maxlength="15">
        <mat-error *ngIf="formGroup.get('nro_registro')?.invalid && formGroup.get('nro_registro')?.touched">
          {{ getErrorMessage(formGroup.get('nro_registro')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> SIMILAR SMP </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="similar_SMP" required minlength="1" maxlength="1" disableOptionCentering>
          <mat-option [value]="'S'"> SI </mat-option>
          <mat-option [value]="'N'"> NO </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('similar_SMP')?.invalid && formGroup.get('similar_SMP')?.touched">
          {{ getErrorMessage(formGroup.get('similar_SMP')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> OMITE RESOLUCIÓN 420 </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="omite_R420" required minlength="1" maxlength="1" disableOptionCentering>
          <mat-option [value]="'S'"> SI </mat-option>
          <mat-option [value]="'N'"> NO </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('omite_R420')?.invalid && formGroup.get('omite_R420')?.touched">
          {{ getErrorMessage(formGroup.get('omite_R420')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" mat-dialog-close>
        <mat-icon> close </mat-icon>
        Cancelar
      </button>
      <button [class]="formGroup.invalid ? 'primary-button icon-button disabled' : 'primary-button icon-button'"
        type="submit" (click)="confirm()">
        <mat-icon> done </mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <div class="buttons-container">
        <button class="primary-button icon-button" mat-dialog-close>
          <mat-icon> done </mat-icon>
          Aceptar
        </button>
      </div>
    </ng-template>
  </form>
</div>