<div class="dialog-content">
  <div class="dialog-title" [tabIndex]="0">
    <h2> {{ data.title | uppercase }} </h2>
  </div>

  <section class="table-container">
    <mat-form-field appearance="standard" class="filter-container">
      <mat-label> Ingrese el código o la descripción </mat-label>
      <input matInput (keyup)="applyFilter($event)" #input maxlength="20">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">
      <ng-container class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumns.length"
          *ngIf="this.dataSource.data.length === 0">
          No se encontraron resultados
        </td>
      </ng-container>

      <ng-container matColumnDef="codigo_motivo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let param"> {{ param.codigo_motivo }} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let param"> {{ param.descripcion }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <mat-radio-group [(ngModel)]="motivoMovimiento" aria-label="Select an option">
            <mat-radio-button [value]="element" class="btn-radio"></mat-radio-button>
          </mat-radio-group>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSize]="6" showFirstLastButtons aria-label="Controles de paginación.">
    </mat-paginator>
  </section>

  <div class="buttons-container">
    <button class="primary-button icon-button" type="button" mat-dialog-close>
      <mat-icon> close </mat-icon>
      Cancelar
    </button>
    <button class="primary-button icon-button btn" type="button" (click)="confirm()" *ngIf="motivoMovimiento">
      <mat-icon>done</mat-icon>
      Guardar
    </button>
  </div>
</div>