<div class="dialog-title">
  <h2 tabindex="0">{{ data.title | uppercase }}</h2>
</div>
<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup">
    <div class="seeker-fields-container mt-1">
      <h3> PRODUCTO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="producto_principal_descripcion" />
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> SUBPRODUCTO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="subproducto_principal_descripcion" placeholder="Sin subproducto." />
      </mat-form-field>
    </div>

    <div [class]="data.par_modo === 'C' ? 'cont' : 'no-cont'">
      <div>
        <div class="seeker-fields-container">
          <h3> PRODUCTO </h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput class="seeker-input" placeholder="Seleccione un producto/subproducto."
              formControlName="producto_secundario_descripcion" #descripcionProducto readonly required>
            <mat-error
              *ngIf="formGroup.get('producto_secundario_descripcion')?.invalid && formGroup.get('producto_secundario_descripcion')?.touched">
              {{ getErrorMessage(formGroup.get("producto_secundario_descripcion")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3> SUBPRODUCTO </h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput class="seeker-input" formControlName="subproducto_secundario_descripcion"
              [placeholder]="descripcionProducto.value ? 'Sin subproducto.' : 'Seleccione un producto/subproducto.'"
              #descripcionSubproducto readonly>
            <mat-error
              *ngIf="formGroup.get('subproducto_secundario_descripcion')?.invalid && formGroup.get('subproducto_secundario_descripcion')?.touched">
              {{ getErrorMessage(formGroup.get("subproducto_secundario_descripcion")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="icon-container" *ngIf="data.par_modo === 'C'">
        <div (click)="getProducto()"
          [class]="formGroup.get('producto_principal_descripcion')?.value  ? 'icon' : 'icon disabled fix'">
          <mat-icon class="material-symbols-outlined"> search </mat-icon>
        </div>
        <div
          [class]="formGroup.get('producto_secundario_descripcion')?.value || formGroup.get('subproducto_secundario_descripcion')?.value  ? 'icon' : 'icon disabled fix'"
          (click)="clear(descripcionProducto, 'producto_secundario_descripcion', descripcionSubproducto,
            'subproducto_secundario_descripcion')">
          <mat-icon class="material-symbols-outlined"> close </mat-icon>
        </div>
      </div>
    </div>

    <div class="buttons-container">
      <button class="primary-button icon-button" type="button" mat-dialog-close>
        <mat-icon> close </mat-icon>
        Cancelar
      </button>
      <button [class]="formGroup.invalid ? 'primary-button icon-button disabled' : 'primary-button icon-button'"
        type="submit" (click)="confirm()">
        <mat-icon> {{ data.par_modo === 'C' ? 'done' : 'delete' }} </mat-icon>
        {{ data.par_modo === 'C' ? 'Guardar' : 'Eliminar' }}
      </button>
    </div>
  </form>
</div>