<div class="dialog-title">
  <h2 tabindex="0">{{ data.title | uppercase }}</h2>
</div>
<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup">
    <div class="seeker-fields-container mt-1">
      <h3> PRODUCTO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="descripcion_producto_principal" />
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> SUBPRODUCTO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="descripcion_subproducto_principal" placeholder="Sin subproducto." />
      </mat-form-field>
    </div>

    <div [class]="data.par_modo === 'C' ? 'cont' : 'no-cont'">
      <div>
        <div class="seeker-fields-container">
          <h3> PRODUCTO </h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput class="seeker-input" placeholder="Seleccione un producto/subproducto."
              formControlName="descripcion_producto_secundario" #descripcionProducto readonly required>
            <mat-error
              *ngIf="formGroup.get('descripcion_producto_secundario')?.invalid && formGroup.get('descripcion_producto_secundario')?.touched">
              {{ getErrorMessage(formGroup.get("descripcion_producto_secundario")) }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <h3> SUBPRODUCTO </h3>
          <mat-form-field class="seeker-form-field" appearance="outline">
            <input matInput class="seeker-input" formControlName="descripcion_subproducto_secundario"
              [placeholder]="descripcionProducto.value ? 'Sin subproducto.' : 'Seleccione un producto/subproducto.'"
              #descripcionSubproducto readonly>
            <mat-error
              *ngIf="formGroup.get('descripcion_subproducto_secundario')?.invalid && formGroup.get('descripcion_subproducto_secundario')?.touched">
              {{ getErrorMessage(formGroup.get("descripcion_subproducto_secundario")) }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="icon-container" *ngIf="data.par_modo === 'C'">
        <div (click)="getProducto()"
          [class]="formGroup.get('descripcion_producto_principal')?.value  ? 'icon' : 'icon disabled fix'">
          <mat-icon class="material-symbols-outlined"> search </mat-icon>
        </div>
        <div
          [class]="formGroup.get('descripcion_producto_secundario')?.value || formGroup.get('descripcion_subproducto_secundario')?.value  ? 'icon' : 'icon disabled fix'"
          (click)="clear(descripcionProducto, 'descripcion_producto_secundario', descripcionSubproducto,
            'descripcion_subproducto_secundario')">
          <mat-icon class="material-symbols-outlined"> close </mat-icon>
        </div>
      </div>
    </div>

    <div class="seeker-fields-container">
      <h3> ¿UNIFICA APORTES? </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="unifica_aportes" required minlength="1" maxlength="1" disableOptionCentering>
          <mat-option [value]="'S'">
            SI
          </mat-option>
          <mat-option [value]="'N'">
            NO
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('unifica_aportes')?.invalid && formGroup.get('unifica_aportes')?.touched">
          {{ getErrorMessage(formGroup.get('unifica_aportes')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons-container">
      <button class="primary-button icon-button" type="button" mat-dialog-close>
        <mat-icon> close </mat-icon>
        Cancelar
      </button>
      <button [class]="formGroup.invalid ? 'primary-button icon-button disabled' : 'primary-button icon-button'"
        type="submit" (click)="confirm()">
        <mat-icon> {{ data.par_modo === 'C' ? 'done' : 'delete' }} </mat-icon>
        {{ data.par_modo === 'C' ? 'Guardar' : 'Eliminar' }}
      </button>
    </div>
  </form>
</div>