<section class="browse-section">
  <div class="section-header">
    <h2>Fuentes de ingreso</h2>
    <button class="new-button icon-button" (click)="new()">
      <mat-icon> add </mat-icon>
      Nuevo
    </button>
  </div>

  <div class="section-content">
    <app-fuente-ingreso-filter (searchEvent)="handleSearch($event)" [datosEmpresas]="datosEmpresa">
    </app-fuente-ingreso-filter>
    <app-fuente-ingreso-dashboard [datosEmpresas]="datosEmpresa"
      (viewEvent)="view($event)"
      (editEvent)="edit($event)"></app-fuente-ingreso-dashboard>
  </div>
</section>