.mat-column-Localidad.mat-header-cell,
.mat-column-Localidad.mat-cell,
.mat-column-Provincia.mat-header-cell,
.mat-column-Provincia.mat-cell,
.mat-column-Departamento.mat-header-cell,
.mat-column-Departamento.mat-cell {
  text-align: left !important;
  padding-left: 1vw !important;
}

.mat-column-Codigo.mat-header-cell,
.mat-column-Codigo.mat-cell,
.mat-column-Posicion.mat-header-cell,
.mat-column-Posicion.mat-cell,
.mat-column-Habitantes.mat-header-cell,
.mat-column-Habitantes.mat-cell {
  text-align: right !important;
  padding-right: 1vw !important;
}

/*
 * Oculta la paginación hasta que la tabla tenga datos.
*/
.hide-paginator {
  display: none;
}
