<div class="dialog-title">
    <h2>{{data.title | uppercase}}</h2>
</div>

<div class="dialog-content">
    <form class="form-datos" [formGroup]="formGroup" (ngSubmit)="confirm()" >
        <div style="overflow:scroll; overflow-y: auto">
        <div class="seeker-fields-container">
            <h3>Código Postal</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <input matInput formControlName="codigo_postal"
                    required maxlength="7" minlength="4"
                    [readonly]="!data.edit">
                <mat-error *ngIf="formGroup.get('codigo_postal')?.invalid
                    && formGroup.get('codigo_postal')?.touched">
                    {{getErrorMessage(formGroup.get('codigo_postal'))}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="seeker-fields-container">
            <h3>Subcódigo Postal</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <input matInput formControlName="sub_codigo_postal"
                    required maxlength="2" minlength="1"
                    [readonly]="!data.edit">
                <mat-error *ngIf="formGroup.get('sub_codigo_postal')?.invalid
                    && formGroup.get('sub_codigo_postal')?.touched">
                    {{getErrorMessage(formGroup.get('sub_codigo_postal'))}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="seeker-fields-container">
            <h3>Localidad</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <input matInput formControlName="descripcion"
                    required maxlength="30" minlength="1"
                    [readonly]="!data.edit">
                <mat-error *ngIf="formGroup.get('descripcion')?.invalid
                    && formGroup.get('descripcion')?.touched">
                    {{getErrorMessage(formGroup.get('descripcion'))}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="seeker-fields-container">
            <h3>Habitantes</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <input matInput formControlName="cant_habitantes"
                    required maxlength="8" minlength="1"
                    [readonly]="!data.edit">
                <mat-error *ngIf="formGroup.get('cant_habitantes')?.invalid
                    && formGroup.get('cant_habitantes')?.touched">
                    {{getErrorMessage(formGroup.get('cant_habitantes'))}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="seeker-fields-container">
            <h3>Provincia</h3>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-select 
                formControlName="letra_provincia"
                >
                <mat-option *ngFor="let provin of paramProv" 
                    [value]="provin.codigo"
                    (onSelectionChange)="buscar(provin.codigo)"
                    >
                    {{ provin.nombre_provincia }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="seeker-fields-container">
            <h3>Departamento</h3>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-select 
                value="this.forma.controls['codigo_departamento'].value"
                formControlName="codigo_departamento"
                >
                <mat-option *ngFor="let departamento of paramDepto" 
                    [value]="departamento.codigo_departamento">
                    {{ departamento.descripcion }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="seeker-fields-container">
            <h3>Posición</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <input matInput formControlName="posicion_referente"
                    required maxlength="7" minlength="1" step="0.001"
                    [max]="999"
                    [readonly]="!data.edit">
                <mat-error *ngIf="formGroup.get('posicion_referente')?.invalid
                    && formGroup.get('posicion_referente')?.touched">
                    {{getErrorMessage(formGroup.get('posicion_referente'))}}
                </mat-error>
            </mat-form-field>
        </div>
        
        <div class="seeker-fields-container">
            <h3>Zona de Promoción</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <input matInput formControlName="zona_promocion"
                required maxlength="2" minlength="1"
                [readonly]="!data.edit">
                <mat-error *ngIf="formGroup.get('zona_promocion')?.invalid
                && formGroup.get('zona_promocion')?.touched">
                {{getErrorMessage(formGroup.get('zona_promocion'))}}
            </mat-error>
            </mat-form-field>
        </div>
        <div class="seeker-fields-container">
            <h3>Zona de Envío</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <input matInput formControlName="zona_envio"
                required maxlength="10" minlength="1"
                [readonly]="!data.edit">
                <mat-error *ngIf="formGroup.get('zona_envio')?.invalid
                && formGroup.get('zona_envio')?.touched">
                {{getErrorMessage(formGroup.get('zona_envio'))}}
                </mat-error>
            </mat-form-field>
        </div>
<!-- <div class="seeker-fields-container">
    <h3>Zona de Atención</h3>
    <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="zona_atencion"
        required maxlength="3" minlength="1"
        [readonly]="!data.edit">
        <mat-error *ngIf="formGroup.get('zona_atencion')?.invalid
        && formGroup.get('zona_atencion')?.touched">
        {{getErrorMessage(formGroup.get('zona_atencion'))}}
    </mat-error>
</mat-form-field>
</div> -->
        <div class="seeker-fields-container">
            <h3>Igreso de Ticket</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <mat-select formControlName="ingreso_ticket">
                    <mat-option [value]="'S'">
                        SI
                    </mat-option>
                    <mat-option [value]="'N'">
                        NO
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="seeker-fields-container">
            <h3>Visitado por Medico Auditor</h3>
            <mat-form-field class="seeker-form-field" appearance="outline">
                <mat-select formControlName="visitado_auditor">
                    <mat-option [value]="'S'">
                        SI
                    </mat-option>
                    <mat-option [value]="'N'">
                        NO
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="data.edit; else other_content" class="buttons-container">
            <button class="primary-button icon-button" type="button" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
                Cancelar
            </button>
            <button class="primary-button icon-button" type="submit" [disabled]="formGroup.invalid">
            <mat-icon>done</mat-icon>
                Guardar
            </button>
        </div>
        <ng-template #other_content>
            <button class="primary-button icon-button right" mat-dialog-close>
                <mat-icon>done</mat-icon>
                    Aceptar
            </button>
        </ng-template>
        </div>
    </form>
</div>
