<section class="seeker-section">
    <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
        <mat-expansion-panel-header floating>
            <mat-panel-title>
                Opciones de búsqueda
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searching">
            <div class="seeker-fields-container">
                <div class="seeker-fields-container">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Provincia</mat-label>
                        <mat-select 
                        formControlName="letra_provincia"
                        >
                        <mat-option *ngFor="let provin of paramProv" 
                            [value]="provin.codigo"
                            (onSelectionChange)="buscar(provin.codigo)"
                            >
                            {{ provin.nombre_provincia }}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="seeker-fields-container">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Departamento</mat-label>
                        <mat-select 
                        value="this.forma.controls['codigo_departamento'].value"
                        formControlName="codigo_departamento"
                        >
                        <mat-option *ngFor="let departamento of paramDepto" 
                            [value]="departamento.codigo_departamento">
                            {{ departamento.descripcion }}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field class="seeker-form-field">
                    <mat-label class="seeker-label"
                        >codigo postal</mat-label>
                    <input  matInput
                        class="seeker-input"
                        formControlName="codigo_postal"
                        (keydown.enter)="searchid($event)">
                </mat-form-field>
                <mat-form-field class="seeker-form-field">
                    <mat-label class="seeker-label"
                        >Localidad</mat-label>
                    <input  matInput
                        class="seeker-input"
                        formControlName="descripcion"
                        (keydown.enter)="searchKeyUp($event)">
                </mat-form-field>
            </div>
            <div class="buttons-container">
                <button class="primary-button icon-button" type="button" (click)="search()">
                    <mat-icon>done</mat-icon>
                Buscar</button>
                <button class="primary-button icon-button" type="button" (click)="clearInputs()">
                    <mat-icon>close</mat-icon>
                Limpiar</button>
            </div>
        </form>
    </mat-expansion-panel>
    </mat-accordion>
</section>