<section>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    <ng-container class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumns.length"> No se encontraron resultados </td>
    </ng-container>
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let param"> {{ param.codigo }} </td>
    </ng-container>
    <ng-container matColumnDef="nombre_provincia">
      <th mat-header-cell *matHeaderCellDef> Provincia </th>
      <td mat-cell *matCellDef="let param"> {{ param.nombre_provincia}} </td>
    </ng-container>
    <ng-container matColumnDef="codigo_provincia">
      <th mat-header-cell *matHeaderCellDef>Código Provincia</th>
      <td mat-cell *matCellDef="let param"> {{ param.codigo_provincia }} </td>
    </ng-container>
    <ng-container matColumnDef="codifica_altura">
      <th mat-header-cell *matHeaderCellDef> ¿Codifica Altura y Calles? </th>
      <td mat-cell *matCellDef="let param"> {{ param.codifica_altura }} </td>
    </ng-container>
    <ng-container matColumnDef="flete_transportista">
      <th mat-header-cell *matHeaderCellDef> % Flete </th>
      <td mat-cell *matCellDef="let param"> {{ param.flete_transportista }} % </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let provincia">
        <button class="action-button" (click)="viewProvincia(provincia)">
          <mat-icon class="edit-icon" aria-label="false"> visibility </mat-icon>
        </button>
        <button class="action-button" (click)="editProvincia(provincia)">
          <mat-icon class="delete-icon" aria-label="false"> edit </mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons
    aria-label="Controles de paginación.">
  </mat-paginator>
</section>
