<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="seeker-fields-container">
        <mat-form-field class="seeker-form-field">
          <mat-label class="seeker-label"> Producto </mat-label>
          <input
            matInput
            [value]="producto.descripcion_producto"
            class="seeker-input"
            disabled
          />
        </mat-form-field>
        <mat-form-field class="seeker-form-field">
          <mat-label class="seeker-label"> Subproducto </mat-label>
          <input
            matInput
            [value]="producto.descripcion_producto_administrador"
            class="seeker-input"
            disabled
          />
        </mat-form-field>
      </div>
      <div class="buttons-container">
        <button
          class="primary-button icon-button"
          type="button"
          (click)="performSearch()"
        >
          <mat-icon> done </mat-icon>
          Buscar
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
