/*
  * MODAL: Formulario deshabilitado.
  * Borde: '::ng-deep .mat-form-field-disabled .mat-form-field-outline'.
  * Texto inputs: '::ng-deep .mat-form-field-disabled .mat-input-element'.
  * Texto select: '::ng-deep .mat-form-field-disabled .mat-select-value'.
  * Texto seleccionable: '.mat-form-field-disabled'.
*/
::ng-deep .mat-form-field-disabled .mat-form-field-outline,
::ng-deep .mat-form-field-disabled .mat-input-element,
::ng-deep .mat-form-field-disabled .mat-select-value,
.mat-form-field-disabled {
  color: #635f5f !important;
  user-select: text !important;
}

/*
  * Elimina el padding-bottom de los .mat-fomr-field-wrapper dentro de la
  * clase 'seeker-fields-container ya que no es requerido.
*/
::ng-deep .pb-none .mat-form-field-wrapper {
  padding-bottom: 0rem;
}

.seeker-fields-container {
  align-items: center;
}

h4 {
  margin-bottom: 0rem;
}
