/*
 * Evita un espaciado innecesario en la primer columna.
*/
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0px !important;
}

/*
 * Texto alineado a la izquierda.
*/
.mat-column-primer_texto_preg.mat-header-cell,
.mat-column-primer_texto_preg.mat-cell,
.mat-column-segundo_texto_preg.mat-header-cell,
.mat-column-segundo_texto_preg.mat-cell,
.mat-column-pide_fecha.mat-header-cell,
.mat-column-pide_fecha.mat-cell,
.mat-column-yes_no.mat-header-cell,
.mat-column-yes_no.mat-cell {
  text-align: left !important;
  padding-left: 1vw !important;
  word-break: break-all !important;
}

/*
 * Número y fecha alineado a la derecha.
*/
.mat-column-nro_preg.mat-header-cell,
.mat-column-nro_preg.mat-cell {
  text-align: right !important;
  padding-right: 1vw !important;
  word-break: break-all !important;
}

/*
 * Iconos alineados al centro.
*/
.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  text-align: center !important;
  word-break: break-all !important;
}

/*
 * Tamaño de columnas.
*/
.mat-column-primer_texto_preg.mat-header-cell,
.mat-column-primer_texto_preg.mat-cell,
.mat-column-segundo_texto_preg.mat-header-cell,
.mat-column-segundo_texto_preg.mat-cell {
  width: 30% !important;
}

.mat-column-nro_preg.mat-header-cell,
.mat-column-nro_preg.mat-cell,
.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell,
.mat-column-pide_fecha.mat-header-cell,
.mat-column-pide_fecha.mat-cell,
.mat-column-yes_no.mat-header-cell,
.mat-column-yes_no.mat-cell {
  width: 10% !important;
}

/*
 * Oculta la paginación hasta que la tabla tenga datos.
*/
.hide-paginator {
  display: none;
}
