/*
 * Evita un espaciado innecesario en la primer columna.
*/
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0px !important;
}

/*
 * Espacio mínimo a ambos lados de todas las columnas.
*/
.mat-column-nro_preg.mat-header-cell,
.mat-column-nro_preg.mat-cell,
.mat-column-primer_texto_preg.mat-header-cell,
.mat-column-primer_texto_preg.mat-cell,
.mat-column-segundo_texto_preg.mat-header-cell,
.mat-column-segundo_texto_preg.mat-cell,
.mat-segundo_texto_preg.mat-header-cell,
.mat-segundo_texto_preg.mat-cell,
.mat-column-pide_fecha.mat-header-cell,
.mat-column-pide_fecha.mat-cell,
.mat-column-yes_no.mat-header-cell,
.mat-column-yes_no.mat-cell,
.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  padding-left: 0.5vw !important;
  padding-right: 0.5vw !important;
  word-break: break-all !important;
}

/*
 * Texto alineado a la izquierda.
 * Texto 1 (primer_texto_preg).
 * Texto 2 (segundo_texto_preg).
 * Pide Fecha (pide_fecha).
 * Pide Si/No (yes_no).
*/
.mat-column-primer_texto_preg.mat-header-cell,
.mat-column-primer_texto_preg.mat-cell,
.mat-column-segundo_texto_preg.mat-header-cell,
.mat-column-segundo_texto_preg.mat-cell,
.mat-column-pide_fecha.mat-header-cell,
.mat-column-pide_fecha.mat-cell,
.mat-column-yes_no.mat-header-cell,
.mat-column-yes_no.mat-cell {
  text-align: left !important;
  padding-left: 1vw !important;
}

/*
 * Número y fecha alineado a la derecha.
 * Código (nro_preg).
*/
.mat-column-nro_preg.mat-header-cell,
.mat-column-nro_preg.mat-cell {
  width: 10% !important;
  text-align: right !important;
  padding-right: 1vw !important;
}

/*
 * Iconos alineados al centro.
 * Acciones (actions).
*/
.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  text-align: center !important;
}

/*
 * Ancho máximo por columna individual de todas las columnas menos el 'Código' (nro_preg) y las 'Acciones' (actions).
*/
.mat-column-primer_texto_preg.mat-header-cell,
.mat-column-primer_texto_preg.mat-cell,
.mat-column-segundo_texto_preg.mat-header-cell,
.mat-column-segundo_texto_preg.mat-cell {
  width: 30% !important;
}

.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell,
.mat-column-pide_fecha.mat-header-cell,
.mat-column-pide_fecha.mat-cell,
.mat-column-yes_no.mat-header-cell,
.mat-column-yes_no.mat-cell {
  width: 10% !important;
}

/*
 * Oculta la paginación hasta que la tabla tenga datos.
*/
.hide-paginator {
  display: none;
}
