<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>

      <form>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label" for="numero_empresa_factura">
              Seleccione una Empresa
            </mat-label>
            <mat-select #selectOptions>
              <mat-option *ngFor="let empresa of empresas" [value]="empresa.descripcion">{{ empresa.descripcion }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label" for="descripcion_producto">Ingrese el Producto</mat-label>
            <input matInput class="seeker-input" (keydown.enter)="search($event , input.value)" #input />
          </mat-form-field>
        </div>

        <div class="buttons-container">
          <button class="primary-button icon-button" type="button" (click)="search($event, input.value)">
            <mat-icon>done</mat-icon>
            Buscar
          </button>
          <button class="primary-button icon-button" type="button" (click)="clear(input)" [disabled]="input.value.length === 0" [disabled]="!selectOptions?.value">
            <mat-icon>close</mat-icon>
            Limpiar
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>