<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>

      <form>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label" *ngIf="isLoading; else load"> Seleccione una empresa </mat-label>
            <ng-template #load>
              <mat-label *ngIf="!isLoadingError; else loadError" class="seeker-label"> Cargando empresas ...
              </mat-label>
            </ng-template>
            <ng-template #loadError>
              <mat-label class="seeker-label"> No se han podido cargar las empresas. </mat-label>
            </ng-template>
            <mat-select #select disableOptionCentering [disabled]="!empresaFactura">
              <mat-option *ngFor="let empresa of empresaFactura" [value]="empresa.id_empresa">
                {{ empresa.descripcion ? empresa.descripcion.trim() : '' }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Ingrese un producto </mat-label>
            <input matInput class="seeker-input" (keydown.enter)="performSearch(input.value)" #input maxlength="30" />
          </mat-form-field>
        </div>

        <div class="buttons-container">
          <button class="primary-button icon-button" type="button" (click)="performSearch(input.value)">
            <mat-icon> done </mat-icon>
            Buscar
          </button>
          <button class="primary-button icon-button" type="button" (click)="clear(input)"
            [disabled]="!select?.value && input.value.length === 0">
            <mat-icon> close </mat-icon>
            Limpiar
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>