<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>

      <form>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Ingrese la empresa </mat-label>
            <mat-select #select disableOptionCentering>
              <mat-option [value]="2">
                Asociacion Mutual Sancor
              </mat-option>
              <mat-option [value]="3">
                O.S.S.A.C.R.A.
              </mat-option>
              <mat-option [value]="4">
                OspersaAms
              </mat-option>
              <mat-option [value]="1">
                SanCor Medicina Privada S.A.
              </mat-option>
              <mat-option [value]="5">
                STAFF
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Ingrese el producto </mat-label>
            <input matInput class="seeker-input" (keydown.enter)="performSearch(input.value)" #input
              maxlength="30" />
          </mat-form-field>
        </div>

        <div class="buttons-container">
          <button class="primary-button icon-button" type="button" (click)="performSearch(input.value)">
            <mat-icon> done </mat-icon>
            Buscar
          </button>
          <button class="primary-button icon-button" type="button" (click)="clear(input)"
            [disabled]="!select?.value && input.value.length === 0">
            <mat-icon> close </mat-icon>
            Limpiar
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>