<section class="browse-section">
  <div class="section-header">
    <h2> Unificación de aportes por producto </h2>
    <div class="section-header-item">
      <button class="primary-button icon-button" (click)="back()">
        <mat-icon> arrow_back </mat-icon>
        Volver
      </button>
      <button class="new-button icon-button" (click)="new()">
        <mat-icon> add </mat-icon>
        Nuevo
      </button>
    </div>
  </div>
  <div class="section-content">
    <app-unificacion-aporte-producto-filter></app-unificacion-aporte-producto-filter>
    <app-unificacion-aporte-producto-dashboard [receivedData]="dataSent"
      (deleteEvent)="delete($event)"></app-unificacion-aporte-producto-dashboard>
  </div>
</section>