/*
 * Evita un espaciado innecesario en la primer columna.
*/
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0px;
}

/*
 * Número y fecha alineado a la derecha.
*/
.mat-column-codigo_de_IVA.mat-header-cell,
.mat-column-codigo_de_IVA.mat-cell {
  text-align: right !important;
  padding-right: 2vw;
}

/*
 * Texto alineado a la izquierda.
*/
.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell,
.mat-column-descripcion_reducida.mat-header-cell,
.mat-column-descripcion_reducida.mat-cell,
.mat-column-formulario_AB.mat-header-cell,
.mat-column-formulario_AB.mat-cell {
  text-align: left !important;
  padding-left: 2vw;
  word-break: break-all;
}

/*
 * Tamaño de columnas.
*/
.mat-column-codigo_de_IVA.mat-header-cell,
.mat-column-codigo_de_IVA.mat-cell {
  min-width: 120px;
}

.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell {
  min-width: 160px;
  width: 100%;
}

.mat-column-descripcion_reducida.mat-header-cell,
.mat-column-descripcion_reducida.mat-cell {
  min-width: 130px;
}

.mat-column-formulario_AB.mat-header-cell,
.mat-column-formulario_AB.mat-cell {
  min-width: 120px;
}

.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  min-width: 150px;
}

/*
 * Oculta la tabla y paginación hasta que existan datos.
*/
.d-none {
  display: none;
}
