/*
 * Número y fecha alineado a la derecha.
*/
.mat-column-codigo_forma_pago.mat-header-cell,
.mat-column-codigo_forma_pago.mat-cell {
  text-align: right !important;
  padding-right: 1vw;
}

/*
 * Texto alineado a la izquierda.
*/
.mat-column-descripcion_forma_pago.mat-header-cell,
.mat-column-descripcion_forma_pago.mat-cell {
  text-align: left !important;
  padding-left: 1vw;
  word-break: break-all;
}

/*
 * Tamaño de columnas.
*/
.mat-column-codigo_forma_pago.mat-header-cell,
.mat-column-codigo_forma_pago.mat-cell {
  min-width: 140px;
}

.mat-column-descripcion_forma_pago.mat-header-cell,
.mat-column-descripcion_forma_pago.mat-cell {
  min-width: 300px;
  width: 60%;
}

.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  min-width: 150px;
}

/*
 * Oculta la tabla y paginación hasta que existan datos.
*/
.d-none {
  display: none;
}
