<section class="browse-section">
  <div class="section-header">
    <h2>COEFICIENTES DE FUENTE DE INGRESO</h2>
    <div class="section-header-item">
      <button class="primary-button icon-button" (click)="back()">
        <mat-icon> arrow_back </mat-icon>
        Volver
      </button>
      <button class="new-button icon-button" (click)="nuevaExtencionFuenteIngreso()"
        [disabled]="validarBoton() || validaBoton">
        <mat-icon> add </mat-icon>
        Nuevo
      </button>
    </div>
  </div>

  <div class="section-content">
    <app-extencion-fuente-ingreso-filter (validaBoton)="onValidaBotonChange($event)"
      (searchEvent)="handleSearch($event)" [fuenteIngreso]="fuenteIngreso"></app-extencion-fuente-ingreso-filter>
    <app-extencion-fuente-ingreso-dashboard></app-extencion-fuente-ingreso-dashboard>
  </div>
</section>