<section class="browse-section">
  <div class="section-header">
    <h2> Submotivo de movimiento </h2>
    <button class="new-button icon-button" (click)="new()">
      <mat-icon> add </mat-icon>
      Nuevo
    </button>
  </div>

  <div class="section-content">
    <app-sub-motivo-movimiento-producto-filter (search)="getSubMotivoMovimiento($event)"
      [motivoMovimientoProducto]="motivoMovimientoProducto"></app-sub-motivo-movimiento-producto-filter>
    <app-sub-motivo-movimiento-producto-dashboard [receivedData]="dataSent" (viewEvent)="view($event)"
      (editEvent)="edit($event)"></app-sub-motivo-movimiento-producto-dashboard>
  </div>
</section>