<div class="dialog-title" [tabIndex]="0">
  <h2> {{ data.title | uppercase }} </h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup" (ngSubmit)="confirm()">
    <div style="overflow-y: auto">
      <div class="seeker-fields-container">
        <h3> CÓDIGO POSTAL </h3>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <input matInput formControlName="codigo_postal" required minlength="1" maxlength="7">
          <mat-error *ngIf="formGroup.get('codigo_postal')?.invalid && formGroup.get('codigo_postal')?.touched">
            {{ getErrorMessage(formGroup.get('codigo_postal')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> SUBCÓDIGO POSTAL </h3>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <input matInput formControlName="sub_codigo_postal" required minlength="1" maxlength="2">
          <mat-error *ngIf="formGroup.get('sub_codigo_postal')?.invalid && formGroup.get('sub_codigo_postal')?.touched">
            {{ getErrorMessage(formGroup.get('sub_codigo_postal')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> LOCALIDAD </h3>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <input matInput formControlName="descripcion" required minlength="3" maxlength="30">
          <mat-error *ngIf="formGroup.get('descripcion')?.invalid && formGroup.get('descripcion')?.touched">
            {{ getErrorMessage(formGroup.get('descripcion')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> HABITANTES </h3>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <input matInput formControlName="cant_habitantes" required minlength="1" maxlength="8">
          <mat-error *ngIf="formGroup.get('cant_habitantes')?.invalid && formGroup.get('cant_habitantes')?.touched">
            {{ getErrorMessage(formGroup.get('cant_habitantes')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> PROVINCIA </h3>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <mat-select formControlName="letra_provincia" required disableOptionCentering>
            <mat-option *ngFor="let provincia of data.provincias" [value]="provincia.codigo"
              (click)="getDepartamentos(provincia.codigo)">
              {{ provincia.nombre_provincia }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('letra_provincia')?.invalid && formGroup.get('letra_provincia')?.touched">
            {{ getErrorMessage(formGroup.get('letra_provincia')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> DEPARTAMENTO </h3>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <mat-select formControlName="codigo_departamento" required disableOptionCentering>
            <mat-option *ngFor="let departamento of data.departamentos" [value]="departamento.codigo_departamento">
              {{ departamento.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formGroup.get('codigo_departamento')?.invalid && formGroup.get('codigo_departamento')?.touched">
            {{ getErrorMessage(formGroup.get('codigo_departamento')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> ZONA DE PROMOCIÓN </h3>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-select formControlName="zona_promocion" required disableOptionCentering>
            <mat-option *ngFor="let promocion of data.promociones" [value]="promocion.codigo">
              {{ promocion.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('zona_promocion')?.invalid && formGroup.get('zona_promocion')?.touched">
            {{ getErrorMessage(formGroup.get('zona_promocion')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> ZONA DE ENVÍO </h3>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-select formControlName="zona_envio" required disableOptionCentering>
            <mat-option *ngFor="let envio of data.envios" [value]="envio.codigo">
              {{ envio.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('zona_envio')?.invalid && formGroup.get('zona_envio')?.touched">
            {{ getErrorMessage(formGroup.get('zona_envio')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> INGRESO DE TICKET </h3>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <mat-select formControlName="ingreso_ticket" required disableOptionCentering>
            <mat-option [value]="'S'"> SI </mat-option>
            <mat-option [value]="'N'"> NO </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('ingreso_ticket')?.invalid && formGroup.get('ingreso_ticket')?.touched">
            {{ getErrorMessage(formGroup.get('ingreso_ticket')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <h3> VISITADO POR MEDICO AUDITOR </h3>
        <mat-form-field class="seeker-form-field" appearance="outline">
          <mat-select formControlName="visitado_auditor" required disableOptionCentering>
            <mat-option [value]="'S'"> SI </mat-option>
            <mat-option [value]="'N'"> NO </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('visitado_auditor')?.invalid && formGroup.get('visitado_auditor')?.touched">
            {{ getErrorMessage(formGroup.get('visitado_auditor')) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="data.edit; else other_content" class="buttons-container">
        <button class="primary-button icon-button" type="button" mat-dialog-close>
          <mat-icon> close </mat-icon>
          Cancelar
        </button>
        <button class="primary-button icon-button" type="submit" [disabled]="formGroup.invalid">
          <mat-icon> done </mat-icon>
          Guardar
        </button>
      </div>

      <ng-template #other_content>
        <button class="primary-button icon-button right" mat-dialog-close>
          <mat-icon> done </mat-icon>
          Aceptar
        </button>
      </ng-template>
    </div>
  </form>
</div>