<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Producto </mat-label>
            <input
              matInput
              class="seeker-input"
              [value]="movimiento.producto"
              [readonly]="true"
            />
          </mat-form-field>
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Tipo de Movimiento </mat-label>
            <mat-select [value]="movimiento.movimiento">
              <mat-option [value]="'A'"> Alta </mat-option>
              <mat-option [value]="'B'"> Baja </mat-option>
              <mat-option [value]="'S'"> Susp </mat-option>
              <mat-option [value]="'O'"> Osp </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Motivo de Movimiento </mat-label>
            <input
              matInput
              class="seeker-input"
              [value]="movimiento.codigo_motivo"
              [readonly]="true"
            />
          </mat-form-field>

          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label">Submotivo de Movimiento </mat-label>
            <input
              matInput
              #input
              class="seeker-input"
              [value]="descripcion"
            />
          </mat-form-field>
        </div>
        <div class="buttons-container">
          <button
            class="primary-button icon-button"
            type="button"
            (click)="search(input.value)"
          >
            <mat-icon>done</mat-icon>
            Buscar
          </button>
          <button
            class="primary-button icon-button"
            type="button"
            (click)="clearInputs()"
            [disabled]="!input.value"
          >
            <mat-icon>close</mat-icon>
            Limpiar
          </button>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
