/*
 * Evita un espaciado innecesario en la primer columna.
*/
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0px !important;
}

/*
 * Número y fecha alineado a la derecha.
*/
.mat-column-codigo_estado_civil.mat-header-cell,
.mat-column-codigo_estado_civil.mat-cell {
  text-align: right !important;
  padding-right: 1vw;
}

/*
 * Texto alineado a la izquierda.
*/
.mat-column-description.mat-header-cell,
.mat-column-description.mat-cell {
  text-align: left !important;
  padding-left: 3vw;
  word-break: break-all;
}

/*
 * Tamaño de columnas.
*/
.mat-column-codigo_estado_civil.mat-header-cell,
.mat-column-codigo_estado_civil.mat-cell {
  min-width: 120px;
}

.mat-column-description.mat-header-cell,
.mat-column-description.mat-cell {
  min-width: 120px;
  width: 100%;
}

.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  min-width: 150px;
}

/*
 * Oculta la tabla y paginación hasta que existan datos.
*/
.d-none {
  display: none;
}
