<div class="dialog-title">
  <h2>{{ data.title | uppercase }}</h2>
</div>
<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup" (ngSubmit)="confirm()">
    <div class="seeker-fields-container">
      <h3>PRODUCTO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input
          matInput
          formControlName="producto"
          required
          maxlength="30"
          minlength="3"
          [readonly]="!data.edit"
        />
        <mat-error
          *ngIf="
            formGroup.get('producto')?.invalid &&
            formGroup.get('producto')?.touched
          "
        >
          {{ getErrorMessage(formGroup.get("producto")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>TIPO DE MOVIMIENTO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input
          matInput
          formControlName="codigo_motivo"
          [readonly]="data.codigo_submotivo"
        />
        <mat-error
          *ngIf="
            formGroup.get('codigo_motivo')?.invalid &&
            formGroup.get('codigo_motivo')?.touched
          "
        >
          {{ getErrorMessage(formGroup.get("codigo_motivo")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>MOTIVO DE MOVIMIENTO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="movimiento">
          <mat-option [value]="'A'"> Alta </mat-option>
          <mat-option [value]="'B'"> Baja </mat-option>
          <mat-option [value]="'S'"> Susp </mat-option>
          <mat-option [value]="'O'"> Osp </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            formGroup.get('movimiento')?.invalid &&
            formGroup.get('movimiento')?.touched
          "
        >
          {{ getErrorMessage(formGroup.get("movimiento")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>CÓDIGO DE SUBMOTIVO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input
          matInput
          formControlName="codigo_submotivo"
          [readonly]="data.par_modo == 'U'"
        />
        <mat-error
          *ngIf="
            formGroup.get('codigo_submotivo')?.invalid &&
            formGroup.get('codigo_submotivo')?.touched
          "
        >
          {{ getErrorMessage(formGroup.get("codigo_submotivo")) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>SUBMOTIVO DE MOVIMIENTO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="descripcion">
          <mat-option
            *ngFor="let mov of paramMov"
            [value]="mov.descripcion"
            (onSelectionChange)="dato(mov.codigo_submotivo, mov.descripcion)"
          >
            {{ mov.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="seeker-fields-container">
      <h3>ESTADO</h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select [(value)]="vigencia" disabled="true">
          <mat-option [value]="true"> Activo </mat-option>
          <mat-option [value]="false"> Baja </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button
        class="primary-button icon-button"
        type="button"
        (click)="closeDialog()"
      >
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
      <button
        class="primary-button icon-button"
        (click)="fecha()"
        *ngIf="this.data.par_modo == 'U'"
        [disabled]="!vigencia"
      >
        <mat-icon>delet</mat-icon>
        Baja
      </button>
      <button
        class="primary-button icon-button"
        type="submit"
        [disabled]="!formGroup.get('descripcion')?.value"
      >
        <mat-icon>done</mat-icon>
        Guardar
      </button>
    </div>
    <ng-template #other_content>
      <button class="primary-button icon-button right" mat-dialog-close>
        <mat-icon>done</mat-icon>
        Aceptar
      </button>
    </ng-template>
  </form>
</div>
