<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>
      <form>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Producto </mat-label>
            <input matInput class="seeker-input" [value]="producto.descripcion_producto" readonly>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Tipo de Movimiento </mat-label>
            <input matInput class="seeker-input" [value]="getMovimiento(motivoMovimientoProducto.tipo_motivo)" readonly>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Motivo de Movimiento </mat-label>
            <input matInput class="seeker-input" [value]="motivoMovimientoProducto.descripcion" readonly>
          </mat-form-field>
        </div>

        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label"> Ingrese el submotivo de movimiento </mat-label>
            <input matInput class="seeker-input" (keydown.enter)="performSearch(input.value)" #input maxlength="30" />
          </mat-form-field>
        </div>

        <div class="buttons-container">
          <button class="primary-button icon-button" type="button" (click)="performSearch(input.value)">
            <mat-icon> done </mat-icon>
            Buscar
          </button>
          <button class="primary-button icon-button" type="button" (click)="clear(input)" [disabled]="!input.value">
            <mat-icon> close </mat-icon>
            Limpiar
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>