.mat-column-departamento.mat-header-cell,
.mat-column-departamento.mat-cell,
.mat-column-abreviatura.mat-header-cell,
.mat-column-abreviatura.mat-cell {
    text-align: left !important;
    padding-left: 1vw !important;
}

.mat-column-codigo_departamento.mat-header-cell,
.mat-column-codigo_departamento.mat-cell{
    text-align: right !important;
    padding-right: 1vw !important;
}
