/*
 * Número y fecha alineado a la derecha.
*/
.mat-column-codigo_nacionalidad_nuevo.mat-header-cell,
.mat-column-codigo_nacionalidad_nuevo.mat-cell,
.mat-column-codigo_sistema_anterior.mat-header-cell,
.mat-column-codigo_sistema_anterior.mat-cell {
  text-align: right !important;
  padding-right: 1vw;
}

/*
 * Texto alineado a la izquierda.
*/
.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell {
  text-align: left !important;
  padding-left: 3vw;
  word-break: break-all;
}

/*
 * Tamaño de columnas.
*/
.mat-column-codigo_nacionalidad_nuevo.mat-header-cell,
.mat-column-codigo_nacionalidad_nuevo.mat-cell {
  min-width: 120px;
}

.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell {
  min-width: 120px;
  width: 100%;
}

.mat-column-codigo_sistema_anterior.mat-header-cell,
.mat-column-codigo_sistema_anterior.mat-cell {
  min-width: 170px;
}

.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  min-width: 150px;
}

/*
* Oculta la tabla y paginación hasta que existan datos.
*/
.d-none {
  display: none;
}
