<div class="dialog-title" [tabIndex]="0">
  <h2> {{ data.title | uppercase }} </h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup" (ngSubmit)="confirm()">
    <div class="seeker-fields-container">
      <h3> CÓDIGO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="tipo_de_documento" required minlength="1" maxlength="2">
        <mat-error *ngIf="formGroup.get('tipo_de_documento')?.invalid && formGroup.get('tipo_de_documento')?.touched">
          {{ getErrorMessage(formGroup.get('tipo_de_documento')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> TIPO DE DOCUMENTO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="descripcion" required minlength="3" maxlength="20">
        <mat-error *ngIf="formGroup.get('descripcion')?.invalid && formGroup.get('descripcion')?.touched">
          {{ getErrorMessage(formGroup.get('descripcion')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> ABREVIATURA </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="descripcion_reducida" required minlength="1" maxlength="3">
        <mat-error
          *ngIf="formGroup.get('descripcion_reducida')?.invalid && formGroup.get('descripcion_reducida')?.touched">
          {{ getErrorMessage(formGroup.get('descripcion_reducida')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> CONTROL DE CUIT </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="control_cuit" required disableOptionCentering>
          <mat-option [value]="'S'"> SI </mat-option>
          <mat-option [value]="'N'"> NO </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('control_cuit')?.invalid && formGroup.get('control_cuit')?.touched">
          {{ getErrorMessage(formGroup.get('control_cuit')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" mat-dialog-close>
        <mat-icon> close </mat-icon>
        Cancelar
      </button>
      <button [class]="formGroup.invalid ? 'primary-button icon-button disabled' : 'primary-button icon-button'"
      type="submit" (click)="confirm()">
        <mat-icon> done </mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <div class="buttons-container">
        <button class="primary-button icon-button" mat-dialog-close>
          <mat-icon> done </mat-icon>
          Aceptar
        </button>
      </div>
    </ng-template>
  </form>
</div>