/*
 * Evita un espaciado innecesario en la primer columna.
*/
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0px;
}

/*
 * Texto alineado a la izquierda.
*/
.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell,
.mat-column-domicilio.mat-header-cell,
.mat-column-domicilio.mat-cell,
.mat-column-estado.mat-header-cell,
.mat-column-estado.mat-cell {
  text-align: left !important;
  padding-left: 1vw;
  word-break: break-all;
}

/*
 * Número y fecha alineado a la derecha.
*/
.mat-column-codigo_posicion.mat-header-cell,
.mat-column-codigo_posicion.mat-cell {
  text-align: right !important;
  padding-right: 1vw;
}

/*
 * Tamaño de columnas.
*/
.mat-column-codigo_posicion.mat-header-cell,
.mat-column-codigo_posicion.mat-cell {
  min-width: 100px;
}

.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell {
  min-width: 80px;
  width: 40%;
}

.mat-column-domicilio.mat-header-cell,
.mat-column-domicilio.mat-cell {
  min-width: 90px;
  width: 60%;
}

.mat-column-estado.mat-header-cell,
.mat-column-estado.mat-cell {
  min-width: 80px;
}

.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  min-width: 130px;
}

/*
 * Oculta la tabla y paginación hasta que existan datos.
*/
.d-none {
  display: none;
}

/*
 * Genera el espacio que corresponde al botón que no esta disponible.
*/
.no-edit {
  display: inline-block;
  vertical-align: bottom;
  width: 40px;
  height: 44.09px;
}
