<div class="dialog-title">
  <h2>{{data.title | uppercase}}</h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup" (ngSubmit)="confirm()">
    <div class="seeker-fields-container">
      <h3> CÓDIGO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="codigo" required minlength="1" maxlength="1" [readonly]="!data.edit">
        <mat-error *ngIf="formGroup.get('codigo')?.invalid && formGroup.get('codigo')?.touched">
          {{ getErrorMessage(formGroup.get('codigo')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> PROVINCIA </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="nombre_provincia" required minlength="3" maxlength="30"
          [readonly]="!data.edit">
        <mat-error *ngIf="formGroup.get('nombre_provincia')?.invalid && formGroup.get('nombre_provincia')?.touched">
          {{ getErrorMessage(formGroup.get('nombre_provincia')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> CÓDIGO ALTERNATIVO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="codigo_provincia" required minlength="1" maxlength="2" [readonly]="!data.edit">
        <mat-error *ngIf="formGroup.get('codigo_provincia')?.invalid && formGroup.get('codigo_provincia')?.touched">
          {{ getErrorMessage(formGroup.get('codigo_provincia')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> ¿CODIFICA ALTURA Y CALLES? </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <mat-select formControlName="codifica_altura">
          <mat-option [value]="'S'"> SI </mat-option>
          <mat-option [value]="'N'"> NO </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> PORCENTAJE DE FLETE A TRANSPORTISTA </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="flete_transportista" required minlength="1" maxlength="7" step="0.001"
          [max]="999" [readonly]="!data.edit">
        <mat-error
          *ngIf="formGroup.get('flete_transportista')?.invalid && formGroup.get('flete_transportista')?.touched">
          {{ getErrorMessage(formGroup.get('flete_transportista')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
      <button class="primary-button icon-button" type="submit" [disabled]="formGroup.invalid">
        <mat-icon>done</mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <button class="primary-button icon-button right" mat-dialog-close>
        <mat-icon>done</mat-icon>
        Aceptar
      </button>
    </ng-template>
  </form>
</div>
