<div class="dialog-title" [tabIndex]="0">
  <h2> {{ data.title | uppercase }} </h2>
</div>

<div class="dialog-content">
  <form class="form-datos" [formGroup]="formGroup" (ngSubmit)="confirm()">
    <div class="seeker-fields-container">
      <h3> NÚMERO </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="nro_preg" />
        <mat-error *ngIf="formGroup.get('nro_preg')?.invalid && formGroup.get('nro_preg')?.touched">
          {{ getErrorMessage(formGroup.get('nro_preg')) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> MODELO DE FORMULARIO </h3>
      <mat-form-field class="seeker-form-field" required appearance="outline">
        <mat-select formControlName="modelo_formulario">
          <mat-option [value]="'A1'"> ALTA </mat-option>
          <mat-option [value]="'M'"> MODIFICACIÓN </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('modelo_formulario')?.invalid && formGroup.get('modelo_formulario')?.touched">
          {{ getErrorMessage(formGroup.get("modelo_formulario")) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> LÍNEAS DE PREGUNTAS </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="cantidad_lineas_resp" minlength="1" maxlength="1" required />
        <mat-error
          *ngIf="formGroup.get('cantidad_lineas_resp')?.invalid && formGroup.get('cantidad_lineas_resp')?.touched">
          {{ getErrorMessage(formGroup.get("cantidad_lineas_resp")) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> PRIMER LÍNEA </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="primer_texto_preg" required minlength="1" maxlength="50" />
        <mat-error *ngIf="formGroup.get('primer_texto_preg')?.invalid && formGroup.get('primer_texto_preg')?.touched">
          {{ getErrorMessage(formGroup.get("primer_texto_preg")) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> SEGUNDA LÍNEA </h3>
      <mat-form-field class="seeker-form-field" appearance="outline">
        <input matInput formControlName="segundo_texto_preg" maxlength="50" />
        <mat-error *ngIf="formGroup.get('segundo_texto_preg')?.invalid && formGroup.get('segundo_texto_preg')?.touched">
          {{ getErrorMessage(formGroup.get("segundo_texto_preg")) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> PIDE FECHA </h3>
      <mat-form-field class="seeker-form-field" required appearance="outline">
        <mat-select formControlName="pide_fecha" (selectionChange)="onChangeDate()">
          <mat-option [value]="'S'"> SI </mat-option>
          <mat-option [value]="'N'"> NO </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('pide_fecha')?.invalid && formGroup.get('pide_fecha')?.touched">
          {{ getErrorMessage(formGroup.get("pide_fecha")) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="seeker-fields-container">
      <h3> PIDE SI/NO </h3>
      <mat-form-field class="seeker-form-field" required appearance="outline">
        <mat-select formControlName="yes_no" (selectionChange)="onChangeYesNo()">
          <mat-option [value]="'S'"> SI </mat-option>
          <mat-option [value]="'N'"> NO </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('yes_no')?.invalid && formGroup.get('yes_no')?.touched">
          {{ getErrorMessage(formGroup.get("yes_no")) }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-error
      *ngIf="formGroup.hasError('selectsInvalid') && (formGroup.get('pide_fecha')?.touched || formGroup.get('yes_no')?.touched)">
      No es posible solicitar Fecha y Si/No a la vez.
    </mat-error>

    <div *ngIf="data.edit; else other_content" class="buttons-container">
      <button class="primary-button icon-button" type="button" (click)="closeDialog()">
        <mat-icon> close </mat-icon>
        Cancelar
      </button>
      <button class="primary-button icon-button" type="submit" [disabled]="formGroup.invalid">
        <mat-icon> done </mat-icon>
        Guardar
      </button>
    </div>

    <ng-template #other_content>
      <button class="primary-button icon-button" mat-dialog-close>
        <mat-icon> done </mat-icon>
        Aceptar
      </button>
    </ng-template>
  </form>
</div>
