<section>
  <table mat-table [dataSource]="dataSource" [ngClass]="{'d-none': !dataSource }">
    <ng-container class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumns.length"
        *ngIf="this.dataSource.data.length === 0">
        No se encontraron resultados
      </td>
    </ng-container>

    <ng-container matColumnDef="producto_secundario">
      <th mat-header-cell *matHeaderCellDef> Código Producto </th>
      <td mat-cell *matCellDef="let param"> {{ param.producto_secundario === 0 ? '' : param.producto_secundario }} </td>
    </ng-container>

    <ng-container matColumnDef="producto_principal_descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción Producto </th>
      <td mat-cell *matCellDef="let param">{{ param.producto_principal_descripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="subproducto_secundario">
      <th mat-header-cell *matHeaderCellDef> Código Subproducto </th>
      <td mat-cell *matCellDef="let param"> {{ param.subproducto_secundario === 0 ? '' : param.subproducto_secundario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="subproducto_principal_descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción Subproducto </th>
      <td mat-cell *matCellDef="let param"> {{ param.subproducto_principal_descripcion }} </td>
    </ng-container>

    <ng-container matColumnDef="unifica_aportes">
      <th mat-header-cell *matHeaderCellDef> ¿Unificación de aportes? </th>
      <td mat-cell *matCellDef="let param"> {{ param.unifica_aportes === 'S' ? 'SI' : 'NO' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button class="action-button" (click)="delete(element)">
          <mat-icon class="delete-icon" aria-label="false"> deleted </mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons
    aria-label="Controles de paginación." [ngClass]="{'d-none': !dataSource || this.dataSource.data.length < 10 }">
  </mat-paginator>
</section>