<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating>
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="seeker-fields-container">
        <mat-form-field class="seeker-form-field">
          <mat-label class="seeker-label">
            Seleccione una provincia
          </mat-label>
          <mat-select #provincia required [disabled]="!provincias" disableOptionCentering>
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.codigo"
              (click)="getDepartamentos(provincia.codigo)">
              {{ provincia.nombre_provincia }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="seeker-form-field">
          <mat-label class="seeker-label">
            Seleccione un departamento
          </mat-label>
          <mat-select #departamento [disabled]="!provincia?.value" disableOptionCentering>
            <mat-option *ngFor="let departamento of departamentos" [value]="departamento.codigo_departamento">
              {{ departamento.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="seeker-fields-container">
        <mat-form-field class="seeker-form-field">
          <mat-label class="seeker-label"> Ingrese una localidad </mat-label>
          <input matInput #localidad class="seeker-input" (keydown.enter)="performSearch(localidad, codigo)"
            maxlength="30" [disabled]="!provincia?.value || !departamento?.value" />
        </mat-form-field>

        <mat-form-field class="seeker-form-field">
          <mat-label class="seeker-label"> Ingrese un código postal </mat-label>
          <input matInput class="seeker-input" #codigo maxlength="7" [disabled]="!provincia?.value"
            (keydown)="validateNumberInput($event)" (keydown.enter)="performSearch(localidad, codigo)"
            (paste)="handlePaste($event)" />
        </mat-form-field>
      </div>

      <div class=" buttons-container">
        <button class="primary-button icon-button" type="button"
          [disabled]="!departamento?.value && codigo.value.length=== 0" (click)="performSearch(localidad, codigo)">
          <mat-icon> done </mat-icon>
          Buscar
        </button>
        <button class="primary-button icon-button" type="button" (click)="clear(localidad, codigo)"
          [disabled]="!provincia?.value && !departamento?.value && localidad.value.length === 0 && codigo.value.length === 0">
          <mat-icon> close </mat-icon>
          Limpiar
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>