<section class="seeker-section">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z1">
      <mat-expansion-panel-header floating (click)="searchModels()">
        <mat-panel-title> Opciones de búsqueda </mat-panel-title>
      </mat-expansion-panel-header>

      <form>
        <div class="seeker-fields-container">
          <mat-form-field class="seeker-form-field">
            <mat-label class="seeker-label" for="descripcion">Seleccione la Pregunta de DDJJ</mat-label>
            <mat-select>
              <mat-option *ngFor="let element of models" [value]="element" #input (keydown.enter)="search($event, input.value)">
                {{ element }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>
