/*
 * Evita un espaciado innecesario en la primer columna.
*/
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0px !important;
}

/*
 * Número y fecha alineado a la derecha.
*/
.mat-column-codigo.mat-header-cell,
.mat-column-codigo.mat-cell,
.mat-column-nro_registro.mat-header-cell,
.mat-column-nro_registro.mat-cell {
  text-align: right !important;
  padding-right: 1vw;
}

/*
 * Texto alineado a la izquierda.
*/
.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell,
.mat-column-propone_fecha_patologia.mat-header-cell,
.mat-column-propone_fecha_patologia.mat-cell,
.mat-column-tipo_fecha_patologia.mat-header-cell,
.mat-column-tipo_fecha_patologia.mat-cell,
.mat-column-tipo_obra_social_prepaga.mat-header-cell,
.mat-column-tipo_obra_social_prepaga.mat-cell,
.mat-column-similar_SMP.mat-header-cell,
.mat-column-similar_SMP.mat-cell,
.mat-column-omite_R420.mat-header-cell,
.mat-column-omite_R420.mat-cell {
  text-align: left !important;
  padding-left: 1vw;
  word-break: break-all;
}

/*
 * Tamaño de columnas.
*/
.mat-column-codigo.mat-header-cell,
.mat-column-codigo.mat-cell {
  min-width: 100px;
}

.mat-column-descripcion.mat-header-cell,
.mat-column-descripcion.mat-cell {
  min-width: 110px;
  width: 100%;
}

.mat-column-tipo_obra_social_prepaga.mat-header-cell,
.mat-column-tipo_obra_social_prepaga.mat-cell {
  min-width: 120px;
}

.mat-column-nro_registro.mat-header-cell,
.mat-column-nro_registro.mat-cell {
  min-width: 220px;
}

.mat-column-similar_SMP.mat-header-cell,
.mat-column-similar_SMP.mat-cell {
  min-width: 100px;
}

.mat-column-omite_R420.mat-header-cell,
.mat-column-omite_R420.mat-cell {
  min-width: 110px;
}

.mat-column-actions.mat-header-cell,
.mat-column-actions.mat-cell {
  min-width: 130px;
}

/*
 * Oculta la tabla y paginación hasta que existan datos.
*/
.d-none {
  display: none;
}
