table .mat-cell.mat-column-description {
    text-align: left !important;
}

// Mejora la distribucion del header de la tabla
th.mat-header-cell:first-of-type{
    padding-left: 0px;
}

// Numeros y fechas a la derecha
.mat-column-codigo, .mat-column-numeroRegistroNacional {
    text-align: right;
    padding-right: 50px;
}

// Textos a la izquierda
.mat-column-descripcion, .mat-column-tipo, .mat-column-simil, .mat-column-omite_R420{
    text-align: left;
}
